/*
Theme Name:     WP Metrics Child
Theme URI:      http://cmssuperheroes.com
Description:    Child theme for Metrics theme for WordPress
Author:         CMSSuperHeroes
Author URI:     http://themeforest.net/user/CMSSuperHeroes
Template:       wp-metrics
Version:        1.0.0
*/

/* You can overwrite the parent theme's styles with your own code here. */

.contact_frm input[type=text],
.contact_frm input[type=email],
.contact_frm input[type=tel]{
	border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.contact_frm input[type=submit]{
	border-color: #293895;
	color: #293895;
}
.wpcf7-form input[type=submit]:hover{
	background-color: #293895;
}

#social_link{
	list-style: none;
}
#social_link li{
	display: inline-block;
}
#social_link li a{
	color: #FFF;
}
.site-footer.footer-layout-1, .site-footer.footer-layout-2, .site-footer.footer-layout-9 {
    padding-top: 30px !important;
}

@media (min-width: 992px){
	#page_title{
		margin-top: 120px !important;
	}
	.site-branding {
		max-width: 15% !important;
	}
}
@media (max-width: 992px){
	#page_title{
		min-height: 400px;
	}
}
.site-footer,
ul.cms-menu-main .sub-menu, div.cms-menu-main > ul .sub-menu, ul.cms-menu-main .children, div.cms-menu-main > ul .children{
    background-color: #140A7D !important;
    color: #FFF !important;
}
ul.cms-menu-main .sub-menu > li > a, div.cms-menu-main > ul .sub-menu > li > a, ul.cms-menu-main .children > li > a, div.cms-menu-main > ul .children > li > a{
	 color: #FFF !important;
}
.site-footer a{
	color: #FFF !important;
}

#form_applicant p{
	margin-bottom: 0px;
	margin-top: 15px;
}
#form_applicant .wpcf7-form-control-wrap .wpcf7-form-control[name="applicant_experiance"]{
	width: auto;
}
#form_applicant .wpcf7-form-control-wrap .wpcf7-form-control[name="applicant_age"]{
	max-width: 60px;
}
#form_applicant .wpcf7-form-control-wrap.applicant_experiance,
#form_applicant .wpcf7-form-control-wrap.applicant_birthdate,
#form_applicant .wpcf7-form-control-wrap.applicant_age{
	display: inline-block;
}

.titlebox{
	background-color: #293895 !important;
	color: #FFF !important;
	padding: 10px 30px 10px 30px;
}

.vc_tta.vc_general.cms-vc-tta .vc_tta-tab.vc_active > a, .vc_tta.vc_general.cms-vc-tta .vc_tta-tab > a:hover{
	background-color: #293895 !important;
}
.vc_tta.vc_general.cms-vc-tta .vc_tta-tab.vc_active > a, .vc_tta.vc_general.cms-vc-tta .vc_tta-tab > a:hover {
    color: #fff !important;
}

.vc_tta.vc_general.cms-vc-tta .vc_tta-tab > a {
    color: #293895 !important;
    border: 2px solid #293895 !important;
}

.wpcf7-form-control-wrap.applicant_birthdate{
	width: 100%;
}

@media (max-width: 991px){
	.site-nav-main{
		background-color: #293895 !important;
	}
}

.site-header-main .site-mobile-menu-tools button.active {
    background-color: #293895 !important;
    border-color: #293895 !important;
    color: #FFF !important;
}
.site-header-main .site-mobile-menu-tools button{
	border-color: #293895 !important;
	background-color: #FFF;
	color: #293895 !important;
}

.page-title-text, .add_to_cart_button , .price{
	display: none !important;
}

.admin-bar .site-header.header-sticky.header-sticky-activated .site-header-main{
	margin-top: 32px;
}

ul.cms-menu-main .sub-menu > li > a{
	text-transform: uppercase;
}

.cms-page-title {
    height: 0px !important;
    padding-top: 212px;
    background-color: #e2e2e2;
}

@media (max-width: 991px) {
	.woocommerce .woocommerce-filterby .shop-main-filter-right {
	    text-align: center;
	}
}
@media (min-width: 992px) {
	.site-content-shop {
		margin-top: 119px;
	}
}

.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel-title {
	font-size: 26px !important;
}

.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel-body {
	font-size: 1em !important;
}

.complaints_accordion .vc_tta-panel-title a {
    padding: 30px 80px !important;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: 20px center !important;
}

.complaints_accordion .vc_tta-panel.vc_active a{
	border: 2px solid #293895 !important;
	
}
.complaints_accordion .vc_tta-panel.vc_active a .vc_tta-title-text{
	color: #293895 !important;
}
.complaints_accordion .section1 .vc_tta-panel-title > a{
	background-image: url(images/accordion-icon-1.png) !important;
}
.complaints_accordion .section2 .vc_tta-panel-title > a{
	background-image: url(images/accordion-icon-2.png) !important;
}
.complaints_accordion .section3 .vc_tta-panel-title > a{
	background-image: url(images/accordion-icon-3.png) !important;
}
.complaints_accordion .vc_tta-panel-title > a .vc_tta-title-text{
	font-size: 14px;
}

.complaints_accordion .vc_tta-panel-body{
	border: 0px solid #293895 !important;
}

.complaints_accordion .complaints_frm,
.joinus_frm{
   	padding: 30px !important;
    border: 2px solid #ddd !important;
    margin-top: 25px !important;
}
.complaints_accordion .complaints_frm input,
.complaints_accordion .complaints_frm textarea,
.joinus_frm input,
.joinus_frm textarea
{
	border: 2px solid #ddd;
	    padding: 3px 10px !important;
}
.complaints_accordion .complaints_frm textarea,
.joinus_frm textarea{
	background-color: #ECE9E9 !important;
}
.complaints_accordion .complaints_frm input[type=file],
.joinus_frm input[type=file]{
	border: 0px solid #ddd !important;
	padding: 0px 0px !important;
}
.complaints_accordion .complaints_frm input[type=submit],
.joinus_frm input[type=submit]
{
	border: 2px solid #293895 !important;
	padding: 5px 15px !important;
	margin-top: 30px !important;
}
.complaints_accordion .vc_tta-panel.vc_active .wpb_content_element a{
	border: 0px solid #293895 !important;
}
@media (min-width: 768px){

	.complaints_accordion .vc_tta-panel-title a{
		padding: 15px 250px !important;
		background-size: 45px !important;
	    background-repeat: no-repeat !important;
	    background-position: 144px center !important;
	}

	.complaints_accordion .vc_tta-panel-title > a .vc_tta-title-text{
		font-size: 26px;
	}
}

article .entry-footer{
	display: none;
}

.accrodion_style_1 .vc_tta-panel.vc_active,
.accrodion_style_1 .vc_tta-panel.vc_active .vc_tta-panel-title .vc_tta-title-text{
	color: #293895 !important;
}

.accrodion_style_1 .vc_tta-controls-icon{
	background-color: #282828 !important;
}
.accrodion_style_1 .vc_tta-panel.vc_active .vc_tta-controls-icon{
	background-color: #293895 !important;
}

.accrodion_style_1.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel-title > a ,
.accrodion_style_2.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel-title > a {
    padding: 20px 30px 20px 28px !important;
}
.accrodion_style_1.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel-title,
.accrodion_style_2.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel-title {
    font-size: 20px !important;
}

.accrodion_style_2 .vc_tta-panel-title{
	text-align: center !important;
}
.accrodion_style_2 .vc_tta-panel-title a{
	background-color: #FFF !important;
	border-color: #140A7D !important; 
}
.accrodion_style_2 .vc_tta-panel-title a .vc_tta-title-text{
	color: #140A7D !important;
}
.accrodion_style_2 .vc_tta-panel.vc_active .vc_tta-panel-title a{
	background-color: #140A7D !important;
}
.accrodion_style_2 .vc_tta-panel.vc_active .vc_tta-panel-title a .vc_tta-title-text{
	color: #FFF !important;
}
.accrodion_style_2  .vc_tta-panel-body{
	padding-top: 30px !important;
	border: 0px solid !important;
}

.accrodion_style_2 .wpb_single_image img{
	max-width: 100%;
}
@media (min-width: 768px){
	.accrodion_style_2 .wpb_single_image img{
		max-width: 50% !important;
	}
}

.site-footer .footer-bot-inner{
	padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.site-footer-bottom .widget + .widget{
	margin-top: 0px !important;
}

.tbold, .tstrong{
	font-weight: 700 !important;
}

.post-type-archive-product #content{
	padding-bottom: 60px;
}

.cms-heading .subtitle{
	font-size: 18px !important;
}

.footer-logo{
	margin-top: 5px;
	margin-bottom: 10px;
	width: 130px;
}

* + .site-footer-bottom .footer-bot-inner {
    border-top: 1px solid rgba(255, 255, 255, 1) !important;
}

.contact-footer{
	padding-bottom: 30px;
}

.contact-footer .widget-title{
	display: none;
}
.contact-footer{
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.contact-footer #social_link{
	display: inline-block;
	float: right;
	margin-top: 10px;
}

.site-footer .footer-main-inner {
    padding-top: 0px !important;
}
.contact-footer .textwidget a{
	margin-bottom: 0px;
}

@media (min-width: 768px){
	.contact-footer .widget-title{
		display: block;
	}
	.contact-footer{
		border-bottom: 0px solid rgba(255, 255, 255, 1);
	}
	.contact-footer #social_link{
		display: block;
		float: none;
		margin-top: 0px;
	}
	.site-footer .footer-main-inner {
	    padding-top: 44px !important;
	}
	.contact-footer .textwidget a{
		margin-bottom: 20px;
	}
}

ul{
	padding-right: 20px;
}

#lang_sel_list ul {
    border-top: 0px solid #cdcdcd !important;
}

#lang_sel_list img.iclflag {
    width: 30px;
    height: 20px;
}

.site-branding img {
	max-height: 57px !important;
}
@media (max-width: 991px){
	.site-branding img {
	    max-height: 30px !important;
	}
}
.site-nav-extras.visible-xs{
	float: left;
	margin-left: 50px;
	padding-top: 28px;
	border-top: 0px solid rgba(34, 34, 34, 0.1);
}
@media (max-width: 320px){
	.site-nav-extras.visible-xs{		
		margin-left: 10px;
	}
}

ul.cms-menu-main, div.cms-menu-main > ul, .cms-menu-side, ul.cms-menu-extras{
	font-size: 14px !important;
}

.vc_tta.vc_general.cms-vc-tta-accordion .vc_tta-panel:not(.vc_active) .vc_tta-panel-title > a:focus{
	outline: none !important;
}

.menu-lang-container {
	float: right;
}
.menu-lang-container > ul.cms-menu-lang > li > a,
.menu-lang-container > ul.cms-menu-lang > li > span {
    color: #767677;
    line-height: 1.5;
    padding: 2px 0 28px;
}
.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > a,
.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > span {
	padding-top: 26px;
}
.site-header.header-layout-3 .menu-lang-container > ul.cms-menu-lang > li > a, 
.site-header.header-layout-10 .menu-lang-container > ul.cms-menu-lang > li > a, 
.site-header.header-layout-3 .menu-lang-container > ul.cms-menu-lang > ul > li > a, 
.site-header.header-layout-10 .menu-lang-container > ul.cms-menu-lang > ul > li > a, 
.site-header.header-layout-3 .menu-lang-container > ul.cms-menu-lang > li > a, 
.site-header.header-layout-10 .menu-lang-container > ul.cms-menu-lang > li > a,
.site-header.header-layout-3 .menu-lang-container > ul.cms-menu-lang > li > span, 
.site-header.header-layout-10 .menu-lang-container > ul.cms-menu-lang > li > span, 
.site-header.header-layout-3 .menu-lang-container > ul.cms-menu-lang > ul > li > span, 
.site-header.header-layout-10 .menu-lang-container > ul.cms-menu-lang > ul > li > span, 
.site-header.header-layout-3 .menu-lang-container > ul.cms-menu-lang > li > span, 
.site-header.header-layout-10 .menu-lang-container > ul.cms-menu-lang > li > span {
	padding-top: 28px;
}
.site-header.header-layout-3.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > a, 
.site-header.header-layout-10.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > a, 
.site-header.header-layout-3.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > ul > li > a, 
.site-header.header-layout-10.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > ul > li > a, 
.site-header.header-layout-3.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > a, 
.site-header.header-layout-10.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > a,
.site-header.header-layout-3.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > span, 
.site-header.header-layout-10.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > span, 
.site-header.header-layout-3.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > ul > li > span, 
.site-header.header-layout-10.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > ul > li > span, 
.site-header.header-layout-3.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > span, 
.site-header.header-layout-10.header-sticky-activated .menu-lang-container > ul.cms-menu-lang > li > span {
	padding-top: 26px;
}
ul.cms-menu-lang {
	padding: 0;
    margin: 0 12px 0 30px;
    text-align: left;
    font-size: 13px;
    list-style: none;
}
ul.cms-menu-lang > li {
	float: left;
	margin-right: 2.25px;
}
ul.cms-menu-lang > li:last-child {
	margin-right: 0;
}
ul.cms-menu-lang:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
ul.cms-menu-lang > li > a,
ul.cms-menu-lang > li > span {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 14px;
}
ul.cms-menu-lang > li.actived-lang > a {
    color: #222;
    cursor: default;
}
@media (max-width: 991px){
	.menu-lang-container > ul.cms-menu-lang > li > a, 
	.menu-lang-container > ul.cms-menu-lang > li > span {
		padding-top: 28px;
	}
}

.site-header{
	box-shadow: none;
}

@media (max-width: 991px){
	.site-header {
	    position: fixed !important;
	}
	.site-header-main{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.site-branding, .site-mobile-menu-tools{
		height: 60px !important;
	}
	.menu-lang-container > ul.cms-menu-lang > li > a, .menu-lang-container > ul.cms-menu-lang > li > span{
		padding-top: 22px !important;
    	padding-bottom: 0px !important;
	}
	.site-content{
		padding-top: 60px;
	}

	h1{
		font-size: 22px !important;
	}
	h3{
		font-size: 16px !important;
	}
}

.cms-posts-navigation a.page-numbers, .cms-posts-navigation span.current{
	    padding: 0 12px !important;
}
.cms-posts-navigation .page-numbers{
	line-height: 32px !important;
}

.cms-posts-navigation a.page-numbers:hover, .cms-posts-navigation a.page-numbers:focus, .cms-posts-navigation span.current {
    color: #140A7D !important;
    border-color: #140A7D !important;
}

@media (min-width: 768px){
	.cms-posts-navigation a.next.page-numbers {
	    padding-right: 13px !important;
	    padding-left: 14px !important;
	    margin-left: 5px !important;
	}
	.cms-posts-navigation a.prev.page-numbers{
		padding-right: 13px !important;
	    padding-left: 14px !important;
	    margin-right: 5px !important;
	}
}

.reviews_tab,
.related.products{
	display: none !important;
}

.woocommerce .products-item .product-thumbnail,
.woocommerce div.product div.images{
    background-color: transparent !important;
}

.single-product .site-content img, .single-product .site-content img{
	max-width: 70% !important;
}

.single-product .site-content .content-area{
	padding-top: 0px !important;
}

.single-product div.product div.images{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	margin-bottom: 0px !important;
}
.single-product div.product div.images img{
	max-height: 400px !important;
}

.single-product .woocommerce-main-image{
	pointer-events: none;
    cursor: default;
}

.single-product .summary.entry-summary{
	text-align: center;
	margin-bottom: 0px !important;
}

.single-product div.product .product_meta{
	border-bottom: 0px solid #FFF !important;
	margin-bottom: 0px !important; 
}

.blog #page_title,
.single-post #page_title,
.archive.category #page_title,
.archive.date #page_title,
.search #page_title{
	opacity: 0 !important;
    margin-top: -130px !important;
    height: 0px !important;
    min-height: 0px !important;
}
.single-post #page_title{
	 margin-top: -130px !important;
}
.single-post .site-content .content-area,
.single-post .widget-area,
.blog .site-content .content-area,
.archive.category .site-content .content-area,
.archive.date .site-content .content-area,
.blog .site-content .widget-area,
.archive.category .site-content .widget-area,
.archive.date .site-content .widget-area{
	padding-top: 0px !important;
}

.single-post .widget-area{
	padding-bottom: 30px;
}

.navigation.cms-posts-navigation.paging-navigation{
	margin-bottom: 30px !important;
	margin-top: 30px !important;
}

.entry-title {
    overflow: auto !important;
    padding-top: 5px !important; 
    padding-bottom: 5px !important;
}

.widget_archive ul li:after, .widget_categories ul li:after, .widget_nav_menu ul li:after, .widget_meta ul li:after, .widget_pages ul li:after, .widget_product_categories ul li:after{
	display: none;
}

.entry-byline{
	display: none !important;
}

/* necessary plugin styles */
.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: top;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.entry-posts-standard{
	padding-bottom: 0px !important;
}
.entry-posts-standard + .entry-posts-standard{
	padding-top: 20px !important;
}

.js_active .site-content{
	padding-bottom: 60px !important;
}

@media (min-width: 992px){
	.single-product .site-content-shop {
	    margin-top: 30px !important;
	}
	.blog .entry-featured-image img,
	.archive.category .entry-featured-image img,
	.archive.date .entry-featured-image img{
		width: 70% !important;
	}
	.single-post #page_title{
		 margin-top: -180px !important;
	}
	.blog #page_title,
	.single-post #page_title,
	.archive.category #page_title,
	.archive.date #page_title,
	.search #page_title{
	    margin-top: -170px !important;
	}
}

.wpb_start_animation.wpb_appear{
    -webkit-animation: wpb_appear 1s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-animation: wpb_appear 1s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: wpb_appear 1s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.wpb_start_animation.wpb_bottom-to-top{
	-webkit-animation: wpb_btt 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-animation: wpb_btt 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: wpb_btt 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    filter: alpha(opacity=100);
}
.wpb_start_animation.wpb_top-to-bottom {
    -webkit-animation: wpb_ttb 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-animation: wpb_ttb 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: wpb_ttb 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    filter: alpha(opacity=100);
}

.hover_element .wpb_gallery_slides.wpb_image_grid{
	overflow: hidden;
}

.hover_element .wpb_image_grid_ul{
	height: 190.657px !important;
}
@media (min-width: 768px){
	.hover_element .wpb_image_grid_ul{
	    height: 142.657px !important;
	}
}
.hover_element .wpb_image_grid_ul .isotope-item{
    transition: all 500ms;
}
.hover_element .wpb_image_grid_ul .isotope-item:last-child{
	position: absolute;
	top: 0;
	opacity: 0;
	width: 70%;
	left: 25px !important;
	-webkit-transition: opacity 500ms, top 500ms, left 500ms, width 500ms;
    transition: opacity 500ms, top 500ms, left 500ms, width 500ms;
}

.hover_element .wpb_image_grid_ul:hover .isotope-item:last-child{
	opacity: 1;
	position: absolute;
	top: 0 !important;
	left: 0px !important;
	width: 100%;
	-webkit-transition: opacity 500ms, top 500ms, left 500ms, width 500ms;
    transition: opacity 500ms, top 500ms, left 500ms, width 500ms;
}

.ditto_hover_element_container .title h3{
	font-size: 18px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 14px;
    text-align: center;
    color: #767677;
    margin-top: 15px;
}
.ditto_hover_element_container .image{
    position: relative;
}

.ditto_hover_element_container .image .hover_box{
	position: absolute;
    top: 100%;
    left: 30px;
    right: 30px;
    bottom: 0;
    opacity: 0.8;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.ditto_hover_element_container:hover .image .link_title .hover_box{
	top: 0px;
    left: 0;
    right: 0;
}

.ditto_hover_element_container img{
	width: 100%;
}

.ditto_hover_element_container .image .inner_hover_box_title{
	position: absolute;
    bottom: -50px;
    text-align: center;
    color: #FFF;
    opacity: 0;
    width: 100%;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    padding: 0px 15px;
    font-size: 20px;
}
.ditto_hover_element_container:hover .image .inner_hover_box_title{
	opacity: 1;
	bottom: 30px;
}

.ditto_hover_element_container .title{
	position: relative;
}
.ditto_hover_element_container .content_box{
	text-align: center;
	position: absolute;
	background-color: #FFF;
	top: 30px;
	opacity: 0;
	transition: all 500ms;
}
.ditto_hover_element_container .main_title{
	opacity: 1;
	transition: all 500ms;
}
.ditto_hover_element_container:hover .main_title{
	opacity: 0;
}
.ditto_hover_element_container:hover .content_box{
	opacity: 1;
	top: 0;
}