.site-footer {
    background-color: #222;

    .widget {
        margin-bottom: 32px;
    }
    .widget-title {
        margin-bottom: 19px;
        color: #FFF;
        letter-spacing: 0.02em;
        line-height: $line_height_heading_general;
    }

    .widget_archive,
    .widget_categories,
    .widget_nav_menu,
    .widget_meta,
    .widget_pages,
    .widget_recent_comments,
    .widget_recent_entries,
    .widget_product_categories {
        ul {
            li {
                border: none;
                padding: 2.14166px 0 0;
                margin-bottom: 2.14166px;
                &:after {
                    display: none;
                }
            }
            ul {
                margin: 2.4px 0 0;
            }
        }
    }

    .widget_rss ul li {
        border-color: rgba( 255, 255, 255, 0.15 );
    }
    .widget_text {
        .widget-title {
            margin-bottom: 21px;
        }
    }
    .widget_newsletterwidget {
        .widget-title {
            margin-bottom: 21px;
        }

        > p {
            margin-bottom: 12px;
        }
        .newsletter-widget {
            > form {
                position: relative;
                p {
                    margin: 0;
                }
            }
        }

        .newsletter-submit {
            font-family: FontAwesome;
            font-size: 11px;
            padding: 0;
            color: #FFF;
            height: 16px;
            line-height: 16px;
            border: none;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -6px;
        }

        .newsletter-email {
            font-weight: normal;
            font-style: italic;
            color: #474747;
            border-color: transparent;
            border-left: none;
            border-right: none;
            border-bottom-color: rgba( 255, 255, 255, 0.2 );
            padding-left: 0;
            width: 100%;
            height: 44px;
        }
    }

    .cms-social {
        li {
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $color_primary;
                }
            }
        }
    }

    .footer-top-inner {
        
    }
    .footer-main-inner {
        padding-top: 44px;
        padding-bottom: 22px;
    }
    .footer-bot-inner {
        padding-top: 33px;
        padding-bottom: 36px;
    }

    .cms-cta-box-wrapper {
        border-color: rgba( 71,71,71,0.25 );
        margin-bottom: 0;
        .cta-box-content {
            color: #9B9B9B;
        }
    }

    &.footer-layout-1,
    &.footer-layout-2,
    &.footer-layout-9 {
        padding-top: 90px;
    }
    &.footer-layout-3,
    &.footer-layout-4 {
        padding-top: 42px;
    }
    &.footer-layout-5 {
        padding-top: 96px;
        .footer-top-inner {
            padding-bottom: 48px;
        }
    }
    &.footer-layout-6 {
        padding-top: 100px;
        .footer-top-inner {
            padding-bottom: 68px;
        }
    }
    &.footer-layout-7 {
        padding-top: 92px;
        .footer-top-inner {
            padding-bottom: 7px;
        }
    }
    &.footer-with-bot-center {
        .footer-bot-inner {
            text-align: center;
        }
    }
    &.footer-layout-10 {
        .footer-bot-inner {
            padding-top: 92px;
            .widget:last-child {
                margin-top: 42px;
            }
            .widget_newsletterwidget + .widget_cms_social_widget {
                margin-top: 59px;
            }
        }
    }
    &.footer-layout-11 {
        .footer-bot-inner {
            padding-top: 92px;
        }
    }
}

.site-footer-top {
    .widget {
        font-size: $font_size_footer_top;
    }
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    textarea,
    select {
        border-color: transparent;
        border-left: none;
        border-right: none;
        border-bottom-color: rgba( 255, 255, 255, 0.15 );
        padding-left: 0;
        padding-right: 0;
        @include placeholder() {
            font-weight: 700;
        }
    }
}

.site-footer-main {
    .widget {
        font-size: $font_size_footer_main;
    }
    .widget_text {
        line-height: 2;
    }
    .widget_newsletterwidget {
        font-size: $font_size_footer_main + 1;

        .newsletter-email {
            font-size: $font_size_footer_main;
        }
    }
    * + .widget_cms_social_widget {
        margin-top: -22px;
    }
}

* + .site-footer-bottom .footer-bot-inner {
    border-top: 1px solid rgba( 255, 255, 255, 0.04 );
}
.site-footer-bottom {
    .widget {
        font-size: $font_size_footer_bottom;
        line-height: 1.8461538461; // 24/13
        margin-bottom: 0;
        + .widget {
            margin-top: 32px;
        }
    }
    .widget_archive,
    .widget_categories,
    .widget_nav_menu,
    .widget_meta,
    .widget_pages,
    .widget_recent_comments,
    .widget_recent_entries,
    .widget_product_categories {
        ul {
            font-size: 0;
            margin-left: -13.5px;
            margin-right: -13.5px;
            li {
                font-size: $font_size_footer_bottom;
                padding: 0 13.5px;
                margin: 0;
                display: inline-block;
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 54%;
                    background-color: #646464;
                    position: absolute;
                    right: -0.5px;
                    top: 50%;
                    margin-top: 1px;
                    @include transform( translateY(-50%) );
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
            ul {
                margin: 0;
            }
        }
    }
}

@media ( max-width: 767px ) {
    .site-footer-main {
        .widget_newsletterwidget {
            .newsletter-widget {
                > form {
                    width: 290px;
                }
            }
        }
    }
}

@media ( min-width: 768px ) {
    .site-footer-main {
        .widget_newsletterwidget {
            .newsletter-widget {
                > form {
                    width: 100%;
                }
            }
        }
    }
}

@media ( max-width: 991px ) {
    .site-footer {
        .footer-bot-left,
        .footer-bot-right {
            text-align: center;
        }
    }
    .site-footer-main {
        &.footer-main-5-cols,
        &.footer-main-6-cols {
            .footer-main-col:nth-child(4) {
                clear: both;
            }
        }
    }
}

@media ( min-width: 992px ) {
    .site-footer {
        .footer-bot-left {
            text-align: left;
        }
        .footer-bot-right {
            text-align: right;
        }
    }
}