//-- General header styling
.site-header {
    position: relative;
    width: 100%;
    z-index: 99;

    &.header-with-bg,
    &.header-layout-boxed {
        .site-header-inner {
            background-color: #FFF;
        }
    }

    ul {
        list-style: none;
    }
}

.site-header-top {
    border-bottom: 1px solid #E8E8E8;
    .widget {
        font-size: $font_size_header_top;
        line-height: $line_height_general;
        color: #616161;
        display: inline-block;
        vertical-align: middle;
    }
    .widget_archive,
    .widget_categories,
    .widget_nav_menu,
    .widget_meta,
    .widget_pages,
    .widget_recent_comments,
    .widget_recent_entries,
    .widget_product_categories {

    }
    .widget_cms_social_widget {
        a {
            color: #5d5d5d;
            font-size: 15px;
            line-height: 20px;
            &:hover {
                background-color: transparent !important;
                color: $color_primary;
            }
        }
    }
    &.header-top-light {
        background-color: #F9F9F9;
    }
    &.header-top-dark {
        background-color: #222;
        .widget {
            border-color: rgba( 249, 249, 249, 0.1 );
        }
    }
}

.site-branding,
.site-navs,
.site-mobile-menu-tools {
    > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.site-branding > h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-size: 24px;
    line-height: 1;
    > a {
        display: block;
        max-width: 290px;
    }
}

.site-header-main {
    .site-mobile-menu-tools {
        button {
            font-size: 14px;
            line-height: 1;
            padding: 12.75px 14px;

            &.active {
                background-color: #222;
                color: #FFF;
            }
        }
    }
}

.site-header-inner {
    margin-left: auto;
    margin-right: auto;
}

.site-nav-main {
    @include clearfix();
}

.site-nav-extras {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0;
    line-height: 0;
    margin-bottom: 6px;
    .widget {
        font-size: $font_size_header_extras;
        line-height: $line_height_general;
        margin-bottom: 8px;
        display: inline-block;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        .btn {
            border-radius: 1px;
        }
        + .widget {
            &:before {
                content: '';
                display: block;
                width: 1px;
                height: 50%;
                background-color: #222;
                opacity: 0.1;
                position: absolute;
                left: -1px;
                top: 50%;
                @include transform( translateY(-50%) );
            }
        }
    }
    .widget-title {
        display: none;
    }
    .widget_archive,
    .widget_categories,
    .widget_nav_menu,
    .widget_meta,
    .widget_pages,
    .widget_recent_comments,
    .widget_recent_entries,
    .widget_product_categories {
        ul {
            margin-left: -7.5px;
            margin-right: -7.5px;
            li {
                position: relative;
                display: inline-block;
                border-top: none;
                margin: 0;
                padding: 0 7.5px;
                &:after {
                    display: none;
                }
                a {
                    color: #5D5D5D;
                }
            }
            ul {
                border-top: none;
                position: absolute;
                top: 100%;
                right: 0;
                visibility: hidden;
                opacity: 0;
                margin: 0;
            }
        }
    }
    .btn {
        font-size: inherit;
    }
}

body.admin-bar {
    position: relative;
}

@media (max-width: 991px) {
    .site-header {
        background-color: #FFF;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    }
    .site-header-top {
        padding-top: 8px;
        padding-bottom: 4px;
        text-align: center;
        .widget {
            margin-bottom: 4px;
            padding: 2px 10px;
        }
        .cms-social {
            text-align: inherit;
        }
    }

    .site-header-main {
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto !important;
    }
    .site-branding,
    .site-mobile-menu-tools {
        height: 80px;
        position: relative;
        font-size: 0;
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            height: 100%;
            vertical-align: middle;
        }
        > * {
            display: inline-block;
            max-width: 98%;
            vertical-align: middle;
        }
    }
    .site-branding {
        float: left;
        max-width: 66.6666666667%;
        img {
            max-height: 50px;
        }
    }
    .site-mobile-menu-tools {
        float: right;
        max-width: 33.3333333333%;
    }
    .site-navs {
        clear: both;
    }
    .site-nav-main {
        background-color: #222;
        margin-left: -15px;
        margin-right: -15px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
        margin-bottom: -12px;
        @include transition( opacity 300ms );
        + .site-nav-extras {
            margin-top: 12px;
        }
        &.site-nav-mobile-open {
            height: auto;
            overflow: visible;
            position: static;
            visibility: visible;
            opacity: 1;
        }
    }
    .site-nav-extras {
         text-align: center;
         padding-top: 12px;
         border-top: 1px solid rgba( 34, 34, 34, 0.1 );
         margin-bottom: -8px;
         + .site-nav-main {
            margin-top: 12px;
         }
    }
    .cms-header-top.header-top-default {
        border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    }
}

@media (min-width: 992px) {
    .site-header-top {
        .widget {
            display: table-cell;
            margin-bottom: 0;
            padding: 2px 12px;
            border-left: 1px solid rgba( 34, 34, 34, 0.1 );
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
        }
        .widget_archive,
        .widget_categories,
        .widget_nav_menu,
        .widget_meta,
        .widget_pages,
        .widget_recent_comments,
        .widget_recent_entries,
        .widget_product_categories {
            
        }

        .header-top-left,
        .header-top-right {
            display: inline-table;
            height: 44px;
        }
        .header-top-left {
            float: left;
            .widget {
                &:first-child {
                    border-left: none;
                }
            }
        }
        .header-top-right {
            float: right;
        }
    }
    .site-nav-extras {
        text-align: right;
    }
    .site-header {
        position: absolute;
        top: 0;
        left: 0;

        .site-header-main {
            .container {
                position: relative;
            }
            > .container,
            > .container > .row {
                height: 100%;
            }
        }

        .site-branding,
        .site-navs {
            display: inline-table;
            height: 100%;
        }

        .site-branding {
            float: left;
            > h1 {
                margin: 0;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .site-navs {
            float: right;
            .site-navs-inner {
                display: table-cell;
                vertical-align: bottom;
            }
        }

        &.header-with-border {
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-bottom: 1px solid rgba( 255, 255, 255, 0.3 );
            }
        }

        &.header-float {
            top: 30px;
        }

        &.header-layout-1,
        &.header-layout-2,
        &.header-layout-3,
        &.header-layout-10,
        &.header-layout-12,
        &.header-layout-13 {
            .site-header-main {
                height: 119px;
            }
            .site-branding img {
                max-height: 72px;
            }
        }
        &.header-layout-1,
        &.header-layout-10,
        &.header-layout-11 {
            background-image: linear-gradient( rgba( 255, 255, 255, 0.385 ) 0%, rgba( 255, 255, 255, 0 ) 55% );
        }
        &.header-layout-3,
        &.header-layout-10 {
            .site-navs-inner {
                vertical-align: middle;
            }
            ul.cms-menu-main > li > a,
            div.cms-menu-main > ul > li > a,
            ul.cms-menu-extras > li > a {
                padding-top: 29px;
            }
        }

        &.header-layout-2,
        &.header-layout-3,
        &.header-layout-4,
        &.header-layout-5,
        &.header-layout-6,
        &.header-layout-7,
        &.header-layout-8,
        &.header-layout-9 {
            box-shadow: 0px 2px 3px 0px rgba( 34, 34, 34, 0.05 );
        }

        &.header-layout-4,
        &.header-layout-5 {
            .site-header-main {
                height: 89px;
            }
            .site-branding img {
                max-height: 52px;
            }
        }
        &.header-layout-11,
        &.header-layout-14 {
            .site-header-main {
                height: 99px;
            }
            .site-branding img {
                max-height: 52px;
            }
        }
        &.header-layout-4,
        &.header-layout-5,
        &.header-layout-11,
        &.header-layout-14 {
            .site-navs-inner {
                vertical-align: middle;
            }
            ul.cms-menu-main > li > a,
            div.cms-menu-main > ul > li > a,
            ul.cms-menu-extras > li > a {
                padding-top: 29px;
            }
        }

        &.header-layout-6,
        &.header-layout-7,
        &.header-layout-8,
        &.header-layout-9 {
            .site-header-main {
                padding-top: 35px;
            }
            .site-branding,
            .site-navs {
                display: block;
                float: none;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .site-branding {
                margin-bottom: 28px;
                > h1 {
                     display: inline-block;
                }
            }
        }
        &.header-layout-6,
        &.header-layout-7,
        &.header-layout-8 {
            ul.cms-menu-main > li > a,
            div.cms-menu-main > ul > li > a,
            ul.cms-menu-extras > li > a {
                padding-bottom: 26px;
                &:after {
                    bottom: 25px;
                }
            }
        }
        &.header-layout-9 {
            ul.cms-menu-main > li > a,
            div.cms-menu-main > ul > li > a,
            ul.cms-menu-extras > li > a {
                padding-bottom: 24px;
                &:after {
                    bottom: 23px;
                }
            }
            .site-nav-extras {
                margin-bottom: 4px;
            }
        }
        &.header-layout-6,
        &.header-layout-7,
        &.header-layout-9 {
            .site-navs-inner {
                display: inline-block;
            }
        }
        &.header-layout-8 {
            .site-navs-inner {
                display: block;
            }
            .menu-main-container {
                float: left;
            }
        }
        &.header-layout-9 {
            .site-header-main {
                padding-bottom: 18px;
            }
            .site-nav-extras {
                text-align: center;
            }
        }
        &.header-layout-float {
            top: 30px;
        }

        &.header-default {
            &.header-no-top {
                padding-bottom: 2px;
            }
        }

        &.header-sticky {
            left: 0;
            right: 0;
            @include transition( all 250ms );
            &.header-sticky-activating,
            &.header-sticky-deactivating {
                top: -100px;
                visibility: hidden;
                opacity: 0;
                overflow: hidden;
            }
            &.header-sticky-activated {
                position: fixed;
                .site-header-top,
                .site-nav-extras {
                    display: none;
                }
                .site-header-main {
                    height: 80px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .site-header-inner {
                    width: 100%;
                    background-color: #FFF;
                    box-shadow: 0px 2px 2px 0px rgba( 34, 34, 34, 0.05 ), 0px 1px 0px 0px rgba( 34, 34, 34, 0.03 );
                }
                .site-branding {
                    float: left;
                    display: table;
                    margin: 0;
                    > h1 {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                .site-navs {
                    float: right;
                    display: table;
                    .site-navs-inner {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                ul.cms-menu-main > li > a,
                div.cms-menu-main > ul > li > a,
                ul.cms-menu-extras > li > a {
                    padding-top: 27px;
                    padding-bottom: 26px;
                    &:after {
                        bottom: 25px;
                    }
                }
            }
        }
        &.header-sticky-activated {
            top: 0;
            border-bottom: none;
            visibility: visible;
            opacity: 1;
            .site-branding img {
                max-height: 50px;
            }
        }
        .site-mobile-menu-tools {
            display: none;
        }
    }
}

@media ( min-width: 1024px ) {
    .site-header.header-layout-boxed {
        .site-header-inner {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 2px 3px 0px rgba( 34, 34, 34, 0.05 );
        }
    }
}

@media ( min-width: 1200px ) {
    .site-header.header-layout-boxed {
        .site-header-inner {
            width: 1170px;
        }
    }
    .site-nav-extras {
        .widget {
            margin-right: 5px;
            + .widget {
                padding-left: 20px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media ( min-width: 1280px ) {
    .site-header.header-layout-boxed {
        .site-header-inner {
            width: 1230px;
        }
    }
}

// Site header placeholder

.header-placeholder {
    display: none;
}
@media ( min-width: 992px ) {
    .header-placeholder {
        &.header-placeholder-layout-2,
        &.header-placeholder-layout-3,
        &.header-placeholder-layout-4,
        &.header-placeholder-layout-5,
        &.header-placeholder-layout-6,
        &.header-placeholder-layout-7,
        &.header-placeholder-layout-8,
        &.header-placeholder-layout-9,
        &.header-placeholder-layout-12 {
            display: block;
        }
    }
}