//-- Primary menu and some style for side menu
//--------------------------------------------------

ul.cms-menu-main,
div.cms-menu-main > ul,
.cms-menu-side,
ul.cms-menu-extras {
    padding: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: $font_size_header_main_menu;
    list-style: none;
    @include clearfix();
}

ul.cms-menu-main,
div.cms-menu-main > ul,
.cms-menu-side {
    > li {
        > a {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    li {
        position: relative;
        a {
            display: block;
            position: relative;
            text-decoration: none;
        }
    }
    .sub-menu,
    .children {
        list-style: none;
        li {
            a {
                padding: 9.1px 0;
            }
        }
    }
    .menu-icon {
        margin-right: 6px;
    }
}

ul.cms-menu-extras {
    > li {
        float: left;
        position: relative;
        > a {
            display: block;
            position: relative;
            text-decoration: none;
            font-size: 14px;
        }
        &.active {
            > .sub-menu-cart {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .sub-menu-cart {
        padding: 18px 15px;
        background-color: #222;
        min-width: 290px;
        position: absolute;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 0px 1px rgba( 255, 255, 255, 0.05 );
        top: 100%;
        right: 0;
        @include transition( opacity 300ms, margin 300ms );
        .woocommerce.widget_shopping_cart {
            display: block !important;
            .widget-title {
                text-align: center;
                border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
                padding-bottom: 10px;
            }
        }
        .widget {
            margin-bottom: 0;
        }
        .widget + .widget {
            margin-top: 48px;
        }
    }
}

//-- Side Menu
//--------------------------------------------------
.cms-menu-side {
    li {
        a {
            color: #999;
            @include transition( color 300ms, background-color 300ms );
        }
        
        a:hover,
        &.current-menu-ancestor > a,
        &.current-menu-item > a,
        &.current_page_parent,
        &.current-page-ancestor > a,
        &.current_page_item > a,
        &.has-sub-menu-open > a {
            color: #FFF;

            .sub-menu-toggle {
                &:before,
                &:after {
                    background-color: #FFF;
                }
            }
        }
        &.has-sub-menu-open {
            overflow: visible;
            > .sub-menu,
            > .children {
                visibility: visible;
                opacity: 1;
                height: auto;
                overflow: visible;
            }
        }
        .sub-menu-toggle {
            cursor: pointer;
            display: block;
            width: 24px;
            height: 24px;
            text-align: center;
            position: absolute;
            left: -32px;
            top: 50%;
            margin-top: -12px;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                background-color: #999;
                left: 50%;
                top: 50%;
            }

            &:before {
                width: 7px;
                height: 1px;
                margin-left: -3px;
                @include transition( background-color 300ms );
            }

            &:after {
                width: 1px;
                height: 7px;
                margin-top: -3px;
                @include transition( height 300ms, margin-top 300ms, background-color 300ms );
            }

            &.active {
                &:after {
                    height: 0;
                    margin-top: 0;
                }
            }
        }
    }
    > li {
        > a {
            padding: 9.35px 0;
            color: #FFF;
            position: relative;
            display: inline-block;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                position: absolute;
                left: 50%;
                background-color: #FFF;
                opacity: 0;
                @include transition( opacity 300ms, left 300ms, width 300ms );
            }
        }
        a:hover,
        &.current-menu-ancestor > a,
        &.current-menu-item > a,
        &.current_page_parent > a,
        &.current-page-ancestor > a,
        &.current_page_item > a,
        &.has-sub-menu-open > a {
            &:after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }
    .sub-menu,
    .children {
        width: auto !important;
        padding-left: 15px;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        @include transition( opacity 300ms );
    }
}


@media ( max-width: 991px ) {
    ul.cms-menu-main,
    div.cms-menu-main > ul {
        li {
            overflow: hidden;
            width: auto !important;
            a {
                color: #999;
                @include transition( color 300ms, background-color 300ms );
                border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
            }
            
            &:hover > a,
            &.current-menu-ancestor > a,
            &.current-menu-item > a,
            &.current_page_parent > a,
            &.current_page_item > a,
            &.has-sub-menu-open > a {
                color: #FFF;

                > .sub-menu-toggle {
                    background-color: rgba( 255, 255, 255, 0.25 );
                    &:before,
                    &:after {
                        background-color: #FFF;
                    }
                }
            }
            &.has-sub-menu-open {
                overflow: visible;
                > .sub-menu,
                > .children {
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                }
            }
            .sub-menu-toggle {
                cursor: pointer;
                display: block;
                width: 24px;
                height: 24px;
                text-align: center;
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -12px;
                background-color: rgba( 255, 255, 255, 0.04 );
                @include transition( background-color 300ms );

                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: #999;
                    left: 50%;
                    top: 50%;
                }

                &:before {
                    width: 7px;
                    height: 1px;
                    margin-left: -3px;
                    @include transition( background-color 300ms );
                }

                &:after {
                    width: 1px;
                    height: 7px;
                    margin-top: -3px;
                    @include transition( height 300ms, margin-top 300ms, background-color 300ms );
                }

                &.active {
                    &:after {
                        height: 0;
                        margin-top: 0;
                    }
                }
            }
        }
        > li {
            > a {
                padding: 15px 20px;
                color: #FFF;
            }
            &:hover > a,
            &.has-sub-menu-open > a {
                background-color: rgba( 255, 255, 255, 0.04 );
            }
        }
        .sub-menu,
        .children {
            width: auto !important;
            padding-left: 20px;
            height: 0;
            visibility: hidden;
            opacity: 0;
            @include transition( opacity 300ms );
        }
    }

    ul.cms-menu-extras {
        > li {
            text-align: center;
            > a {
                padding: 15px;
                color: #999;
                @include transition( all 300ms );
                border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
            }

            &:hover > a,
            &.active > a {
                color: #FFF;
            }
        }
        &.menu-extras-1-item {
            > li {
                float: none;
            }
        }
        &.menu-extras-2-items,
        &.menu-extras-3-items {
            > li {
                float: left;
                &:not(:last-child) > a {
                    border-right: 1px solid rgba( 255, 255, 255, 0.04 );
                }
            }
        }
        &.menu-extras-2-items {
            > li {
                width: 50%;
            }
        }
        &.menu-extras-3-items {
            > li {
                width: 33.3333333333%;
            }
        }
        .sub-menu-cart {
            max-width: 290px;
        }
    }
}

@media (min-width: 992px) {

    /*.site-header {
        &.header-center {
            ul.cms-menu-main,
            ul.cms-menu-extras,
            div.cms-menu-main > ul {
                > li {
                    > a {
                        padding-bottom: 24px;

                        &:after {
                            bottom: 22px;
                        }
                    }
                }
            }
        }
    }*/
    .menu-main-container,
    .menu-extras-container,
    div.cms-menu-main {
        float: right;
    }

    .menu-extras-container + div.cms-menu-main > ul > li,
    .menu-extras-container + .menu-main-container > ul > li {
        &:last-child {
            margin-right: 8px;
        }
    }

    ul.cms-menu-main,
    div.cms-menu-main > ul,
    ul.cms-menu-extras {
        > li {
            margin: 0 8px;
            > a {
                color: $color_link_primary_menu;
                line-height: $line_height_general;
                padding: 2px 0 28px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    ul.cms-menu-main,
    div.cms-menu-main > ul {
        > li {
            float: left;
            > a {
                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    position: absolute;
                    left: 50%;
                    bottom: 27px;
                    opacity: 0;
                    @include transition( all 300ms );
                }
            }
            &:hover > a,
            &.current-menu-ancestor > a,
            &.current-menu-item > a,
            &.current_page_parent > a,
            &.current_page_item > a {
                &:after {
                    opacity: 1;
                    left: 0;
                    width: 100%;
                }
            }
            &.current-menu-ancestor > a,
            &.current-menu-item > a,
            &.current_page_parent > a,
            &.current_page_item > a {
                color: $color_link_primary_menu_active;
                &:after {
                    background-color: $color_link_primary_menu_active;
                }
            }
            &:hover > a {
                color: $color_link_primary_menu_hover;
                &:after {
                    background-color: $color_link_primary_menu_hover;
                }
            }
            &.menu-item-group-sub-menu {
                > .sub-menu > li > .sub-menu {
                    min-width: auto;
                }
            }
            &.menu-item-has-sub-menu-full {
                &.menu-item-pos-temp {
                    position: static;
                }
            }
            &.menu-item-group-sub-menu {
                > .sub-menu {
                    padding-left: 12px;
                    padding-right: 12px;
                }
                > .sub-menu > li {
                    padding-left: 13px;
                    padding-right: 13px;
                    > a {
                        text-transform: uppercase;
                        font-weight: 700;
                        border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
                    }
                    > a:after {
                        display: none;
                    }
                    > .sub-menu {
                        position: static;
                        visibility: inherit;
                        margin: 0;
                        box-shadow: none;
                        opacity: inherit;
                        padding: 0;
                        background-color: transparent;
                        > li {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
            > .sub-menu,
            > .children {
                top: 100%;
                left: 0;
                margin-top: 10px;

                &.drop-full {
                    width: auto;
                    left: 15px;
                    right: 15px;
                }

                &.drop-left,
                &.drop-oposite {
                    left: auto;
                    right: 0;
                }

                &.drop-left {
                    &.drop-oposite {
                        left: 0;
                        right: auto;
                    }
                }

                &.drop-center {
                    left: 50%;
                    @include transform( translateX(-50%) );
                }

                &.multi-cols {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                &.multi-cols-5,
                &.multi-cols-4,
                &.multi-cols-3,
                &.multi-cols-2 {
                    > li {
                        float: left;
                    }
                }

                &.multi-cols-2 {
                    > li {
                        width: 50%;
                    }
                }

                &.multi-cols-3 {
                    > li {
                        width: 33.3333333333%;
                    }
                }

                &.multi-cols-4 {
                    > li {
                        width: 25%;
                    }
                }

                &.multi-cols-5 {
                    > li {
                        width: 20%;
                    }
                }
            }
        }
        li {
            overflow: hidden;
            &:hover {
                overflow: visible;
                > .sub-menu,
                > .children {
                    visibility: visible;
                    opacity: 1;
                    margin-top: 0;
                }
            }
        }
        .sub-menu,
        .children {
            padding: 18px 10px;
            margin: 10px 0 0;
            background-color: #222;
            min-width: 190px;
            position: absolute;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0px 0px 0px 1px rgba( 255, 255, 255, 0.05 );
            @include transition( opacity 300ms, margin 300ms );

            .sub-menu,
            .children {
                top: -18px;
                left: 100%;
                &.drop-oposite {
                    left: auto;
                    right: 100%;
                }
            }

            > li {
                padding-left: 15px;
                padding-right: 15px;

                > a {
                    color: $color_link_sub_menu;
                }

                &:not(:last-child) > a {
                    border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
                }

                &.current-menu-ancestor > a,
                &.current-menu-item > a,
                &.current_page_parent > a,
                &.current_page_item > a {
                    color: $color_link_sub_menu_active;
                }
                &:hover > a {
                    color: $color_link_sub_menu_hover;
                }
                &.menu-item-hide-title {
                    > a {
                        display: none;
                    }
                }
                &.menu-item-has-children,
                &.page_item_has_children {
                    > a {
                        &:after {
                            content: '\f178';
                            font-family: FontAwesome;
                            font-size: 8px;
                            line-height: 1;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
        .sub-menu-toggle {
            display: none;
        }
    }
    ul.cms-menu-extras {
        > li {
            &:hover > a {
                color: $color_link_primary_menu_hover;
            }
            &.active > a {
                color: $color_link_primary_menu_active;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .sub-menu-cart {
            width: 370px;
            max-width: none;
            padding: 23px 30px 30px 27px;
        }
    }
}

@media (min-width: 1200px) {
    .menu-extras-container + div.cms-menu-main > ul > li,
    .menu-extras-container + .menu-main-container > ul > li {
        &:last-child {
            margin-right: 15px;
        }
    }
    ul.cms-menu-main,
    div.cms-menu-main > ul,
    ul.cms-menu-extras {
        > li {
            margin: 0 15.25px;
        }
    }
}
