// Color variation module
//------------------------------------------------------------
.color-white {
    color: #FFF !important;
}

.color-primary {
    color: $color_primary !important;
}

.font-small {
    font-size: $font_size_small;
    line-height: $line_height_13;
    p,
    ul,
    ol,
    dl,
    table,
    pre,
    address,
    blockquote {
        margin-bottom: $margin_13;
    }
}
.font-large {
    font-size: $font_size_large;
    line-height: $line_height_15;
    p,
    ul,
    ol,
    dl,
    table,
    pre,
    address,
    blockquote {
        margin-bottom: $margin_15;
    }
}
.font-xlarge {
    font-size: $font_size_xlarge;
    line-height: $line_height_17;
    p,
    ul,
    ol,
    dl,
    table,
    pre,
    address,
    blockquote {
        margin-bottom: $margin_17;
    }
}

// Alternate fonts
//------------------------------------------------------------
.font-alt-1 {
    font-family: $font_alt_1;
}
.font-alt-2 {
    font-family: $font_alt_2;
}
.font-alt-3 {
    font-family: $font_alt_3;
}

//-- Extra features for xgrid
//--------------------------------------------------
@media ( max-width: 767px ) {
    .column-post.col-xs-1:nth-child(12n+1),
    .column-post.col-xs-2:nth-child(6n+1),
    .column-post.col-xs-3:nth-child(4n+1),
    .column-post.col-xs-4:nth-child(3n+1),
    .column-post.col-xs-6:nth-child(2n+1),
    .cms-grid .grid-item.col-xs-1:nth-child(12n+1),
    .cms-grid .grid-item.col-xs-2:nth-child(6n+1),
    .cms-grid .grid-item.col-xs-3:nth-child(4n+1),
    .cms-grid .grid-item.col-xs-4:nth-child(3n+1),
    .cms-grid .grid-item.col-xs-6:nth-child(2n+1) { clear: both; }
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
    .column-post.col-sm-1:nth-child(12n+1),
    .column-post.col-sm-2:nth-child(6n+1),
    .column-post.col-sm-3:nth-child(4n+1),
    .column-post.col-sm-4:nth-child(3n+1),
    .column-post.col-sm-6:nth-child(2n+1),
    .cms-grid .grid-item.col-sm-1:nth-child(12n+1),
    .cms-grid .grid-item.col-sm-2:nth-child(6n+1),
    .cms-grid .grid-item.col-sm-3:nth-child(4n+1),
    .cms-grid .grid-item.col-sm-4:nth-child(3n+1),
    .cms-grid .grid-item.col-sm-6:nth-child(2n+1) { clear: both; }

}

@media ( min-width: 992px ) and ( max-width: 1199px ) {
    .column-post.col-md-1:nth-child(12n+1),
    .column-post.col-md-2:nth-child(6n+1),
    .column-post.col-md-3:nth-child(4n+1),
    .column-post.col-md-4:nth-child(3n+1),
    .column-post.col-md-6:nth-child(2n+1),
    .cms-grid .grid-item.col-md-1:nth-child(12n+1),
    .cms-grid .grid-item.col-md-2:nth-child(6n+1),
    .cms-grid .grid-item.col-md-3:nth-child(4n+1),
    .cms-grid .grid-item.col-md-4:nth-child(3n+1),
    .cms-grid .grid-item.col-md-6:nth-child(2n+1) { clear: both; }
}

@media ( min-width: 1200px ) {
    .column-post.col-lg-1:nth-child(12n+1),
    .column-post.col-lg-2:nth-child(6n+1),
    .column-post.col-lg-3:nth-child(4n+1),
    .column-post.col-lg-4:nth-child(3n+1),
    .column-post.col-lg-6:nth-child(2n+1),
    .cms-grid .grid-item.col-lg-1:nth-child(12n+1),
    .cms-grid .grid-item.col-lg-2:nth-child(6n+1),
    .cms-grid .grid-item.col-lg-3:nth-child(4n+1),
    .cms-grid .grid-item.col-lg-4:nth-child(3n+1),
    .cms-grid .grid-item.col-lg-6:nth-child(2n+1) { clear: both; }
}

// Additional grid inline block stuffs
//------------------------------------------------------------
.cms-inline-block-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}
.cms-inline-block-xs-12,
.cms-inline-block-xs-6,
.cms-inline-block-xs-4,
.cms-inline-block-xs-3,
.cms-inline-block-xs-2,
.cms-inline-block-sm-12,
.cms-inline-block-sm-6,
.cms-inline-block-sm-4,
.cms-inline-block-sm-3,
.cms-inline-block-sm-2,
.cms-inline-block-md-12,
.cms-inline-block-md-6,
.cms-inline-block-md-4,
.cms-inline-block-md-3,
.cms-inline-block-md-2,
.cms-inline-block-lg-12,
.cms-inline-block-lg-6,
.cms-inline-block-lg-4,
.cms-inline-block-lg-3,
.cms-inline-block-lg-2 {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}
.cms-inline-block-xs-12,
.cms-inline-block-xs-6,
.cms-inline-block-xs-4,
.cms-inline-block-xs-3,
.cms-inline-block-xs-2 {
    display: inline-block;
}

.cms-inline-block-xs-12 {
    width: 100%;
}
.cms-inline-block-xs-6 {
    width: 50%;
}
.cms-inline-block-xs-4 {
    width: 33.3333333333%;
}
.cms-inline-block-xs-3 {
    width: 25%;
}
.cms-inline-block-xs-2 {
    width: 16.6666666667%;
}

@media ( min-width: 768px ) {
    .cms-inline-block-sm-12,
    .cms-inline-block-sm-6,
    .cms-inline-block-sm-4,
    .cms-inline-block-sm-3,
    .cms-inline-block-sm-2 {
        display: inline-block;
    }
    .cms-inline-block-sm-12 {
        width: 100%;
    }
    .cms-inline-block-sm-6 {
        width: 50%;
    }
    .cms-inline-block-sm-4 {
        width: 33.3333333333%;
    }
    .cms-inline-block-sm-3 {
        width: 25%;
    }
    .cms-inline-block-sm-2 {
        width: 16.6666666667%;
    }
}

@media (min-width: 992px) {
    .cms-inline-block-md-12,
    .cms-inline-block-md-6,
    .cms-inline-block-md-4,
    .cms-inline-block-md-3,
    .cms-inline-block-md-2 {
        display: inline-block;
    }
    .cms-inline-block-md-12 {
        width: 100%;
    }
    .cms-inline-block-md-6 {
        width: 50%;
    }
    .cms-inline-block-md-4 {
        width: 33.3333333333%;
    }
    .cms-inline-block-md-3 {
        width: 25%;
    }
    .cms-inline-block-md-2 {
        width: 16.6666666667%;
    }
}
@media(min-width: 1200px) {
    .cms-inline-block-lg-12,
    .cms-inline-block-lg-6,
    .cms-inline-block-lg-4,
    .cms-inline-block-lg-3,
    .cms-inline-block-lg-2 {
        display: inline-block;
    }
    .cms-inline-block-lg-12 {
        width: 100%;
    }
    .cms-inline-block-lg-6 {
        width: 50%;
    }
    .cms-inline-block-lg-4 {
        width: 33.3333333333%;
    }
    .cms-inline-block-lg-3 {
        width: 25%;
    }
    .cms-inline-block-lg-2 {
        width: 16.6666666667%;
    }
}

// Aligment module
//------------------------------------------------------------

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


// Accessibility module
//------------------------------------------------------------
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:focus {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        display: block;
        font-size: 0.875em;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}


// Additional clearing float modules
//------------------------------------------------------------

.clearfix {
    @include clearfix();
}
@media ( max-width: 767px ) {
    .clear-xs { clear: both; }
}

@media ( min-width: 768px ) and ( max-width:991px ){
    .clear-sm { clear: both; }
}

@media ( min-width: 992px ) and ( max-width:1199px ){
    .clear-md { clear: both; }
}

@media ( min-width: 1200px ) {
    .clear-lg { clear: both; }
}


// Page loader module
//------------------------------------------------------------

#cms_page_loader {
    position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: #FFF; z-index: 969696;
}
.cms-page-loader-spinner {
    font-size: 8px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50% );
    animation: cmsloader 1.3s infinite linear;
}
@keyframes cmsloader {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #DCDCDC, 2em -2em 0 0em #DCDCDC, 3em 0 0 -1em #DCDCDC, 2em 2em 0 -1em #DCDCDC, 0 3em 0 -1em #DCDCDC, -2em 2em 0 -1em #DCDCDC, -3em 0 0 -1em #DCDCDC, -2em -2em 0 0 #DCDCDC;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #DCDCDC, 2em -2em 0 0.2em #DCDCDC, 3em 0 0 0 #DCDCDC, 2em 2em 0 -1em #DCDCDC, 0 3em 0 -1em #DCDCDC, -2em 2em 0 -1em #DCDCDC, -3em 0 0 -1em #DCDCDC, -2em -2em 0 -1em #DCDCDC;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #DCDCDC, 2em -2em 0 0 #DCDCDC, 3em 0 0 0.2em #DCDCDC, 2em 2em 0 0 #DCDCDC, 0 3em 0 -1em #DCDCDC, -2em 2em 0 -1em #DCDCDC, -3em 0 0 -1em #DCDCDC, -2em -2em 0 -1em #DCDCDC;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #DCDCDC, 2em -2em 0 -1em #DCDCDC, 3em 0em 0 0 #DCDCDC, 2em 2em 0 0.2em #DCDCDC, 0 3em 0 0em #DCDCDC, -2em 2em 0 -1em #DCDCDC, -3em 0em 0 -1em #DCDCDC, -2em -2em 0 -1em #DCDCDC;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #DCDCDC, 2em -2em 0 -1em #DCDCDC, 3em 0 0 -1em #DCDCDC, 2em 2em 0 0em #DCDCDC, 0 3em 0 0.2em #DCDCDC, -2em 2em 0 0 #DCDCDC, -3em 0em 0 -1em #DCDCDC, -2em -2em 0 -1em #DCDCDC;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #DCDCDC, 2em -2em 0 -1em #DCDCDC, 3em 0 0 -1em #DCDCDC, 2em 2em 0 -1em #DCDCDC, 0 3em 0 0 #DCDCDC, -2em 2em 0 0.2em #DCDCDC, -3em 0 0 0 #DCDCDC, -2em -2em 0 -1em #DCDCDC;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #DCDCDC, 2em -2em 0 -1em #DCDCDC, 3em 0em 0 -1em #DCDCDC, 2em 2em 0 -1em #DCDCDC, 0 3em 0 -1em #DCDCDC, -2em 2em 0 0 #DCDCDC, -3em 0em 0 0.2em #DCDCDC, -2em -2em 0 0 #DCDCDC;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #DCDCDC, 2em -2em 0 -1em #DCDCDC, 3em 0 0 -1em #DCDCDC, 2em 2em 0 -1em #DCDCDC, 0 3em 0 -1em #DCDCDC, -2em 2em 0 0 #DCDCDC, -3em 0em 0 0 #DCDCDC, -2em -2em 0 0.2em #DCDCDC;
    }
}
