.vc_row.vc_row-overlay {
    position: relative;
    > .vc_row-overlay-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: inherit;
        z-index: 0;
    }
}


//-- VC CMS Heading
//--------------------------------------------------
.cms-heading-container {
    margin-bottom: 30px;
}
.cms-heading {
    .heading-block > *:last-child {
        margin-bottom: 0;
    }
    .title,
    .subtitle {
        line-height: $line_height_heading_general;
    }
    .title {
        position: relative;
        letter-spacing: 0.06em;
        margin-bottom: 10px;
    }
    .title-shadow {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0.07;
        bottom: -0.0789473684em;
        font-size: 1.3571428571em;
        visibility: hidden;
    }
    .title-text {
        position: relative;
        z-index: 1;
    }
    .subtitle {
        font-size: $font_size_large;
        margin-bottom: 10px;
        color: #616161;
    }
    .subtitle + .divider-vertical,
    .subtitle + .divider-horizontal {
        margin-top: 26px;
    }

    .title + .divider-vertical,
    .title + .divider-horizontal {
        margin-top: 22px;
    }
    .desc-block {
        font-size: $font_size_xlarge;
        line-height: $line_height_17;
    }
}
.cms-heading-with-desc {
    .heading-block {
        .title {
            font-weight: 500;
            font-size: 26px;
            line-height: 40px;
        }
    }
}

@media ( min-width: 992px ) {
    .cms-heading {
        .title-shadow {
            visibility: visible;
        }
    }
    .cms-heading-with-desc {
        display: table;
        width: 100%;
        .heading-block,
        .desc-block {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
        }
        .heading-block {
            position: relative;
            padding-right: 32px;
            text-align: right;
            
            .title,
            .subtitle {
                margin-bottom: 0;
            }
        }
        .cms-heading-divider {
            position: absolute;
            right: 0;
            top: 16%;
            height: 68%;
            border-right: 2px solid rgba( 34, 34, 34, 0.07 );
        }
        .desc-block {
            padding-left: 35px;
        }
    }
    .cms-heading-header-only {
        .heading-block {
            padding-right: 17px;
        }
    }
    .cms-custom-heading {
        margin-left: -15px;
        margin-right: -15px;
        .cms-custom-heading-inner {
            display: table;
            width: 100%;
        }
        .custom-heading-heading-block, 
        .custom-heading-content-block {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
            > * {
                margin: 0;
            }
        }
        .custom-heading-heading-block {
            text-align: right;
        }
        &.custom-heading-has-content {
            .custom-heading-heading-block {
                padding-right: 35px;
            }
            .custom-heading-content-block {
                padding-left: 35px;
            }
        }
        &.custom-heading-has-sep {
            .custom-heading-heading-block {
                position: relative;
                border-color: rgba( 0, 0, 0, 0.07 );
                &:after {
                    content: '';
                    display: block;
                    border-right: 2px solid;
                    border-right-color: inherit;
                    position: absolute;
                    right: -2px;
                    top: 17.5%;
                    bottom: 17.5%;
                }
            }
        }
    }
}

//-- VC CMS Icon
//--------------------------------------------------
.cms-icon-box {
    margin-bottom: 35px;
    .icon-content {
        line-height: 1;
        margin-bottom: 17px;
        .cms-icon {
            font-size: 32px;
            color: #282828;
            line-height: inherit;
        }
    }
    .icon-title,
    .icon-link {
        line-height: $line_height_heading_general;
    }
    .icon-title {
        font-size: 16px;
        font-weight: 600;
    }
    .icon-link {
        font-weight: 700;
        white-space: nowrap;
        font-size: $font_size_small;
    }
}
@media ( min-width: 768px ) {
    .cms-icon-box {
        .icon-title {
            font-size: 20px;
        }
    }
}


//-- VC CMS Icon Group
//--------------------------------------------------
.cms-icon-group {
    .cms-icon-box-item {
        position: relative;
        border-color: transparent;
    }
    .cms-icon-box {
        position: relative;
    }
    .cms-icon-box-item-inner,
    .cms-icon-box-wrapper,
    .cms-icon-box {
        border-color: inherit;
    }
    .cms-icon-box-item-inner {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        z-index: 1;
        @include transition( padding 300ms );
    }
    .cms-icon-box-item + .cms-icon-box-item .cms-icon-box {
        &:before {
            content: '';
            display: block;
            position: absolute;
            border-left-width: 2px;
            border-left-style: solid;
            border-left-color: inherit;
            top: 0;
            bottom: 3px;
            left: -25px; // 15 + 10
        }
    }
}

.cms-icon-group-with-sep {
    .cms-icon-box-item {
        border-color: rgba( 34, 34, 34, 0.07 );
    }
}

.cms-icon-group-icon-box-hover {
    .cms-icon-box-item {
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: #282828;
            visibility: hidden;
            opacity: 0;
            left: 0;
            top: 10px;
            right: 0;
            bottom: 10px;
            @include transition( all 300ms );
        }
    }
    .cms-icon-box-item + .cms-icon-box-item .cms-icon-box {
        left: 0;
    }
    .cms-icon-box-item-inner {
        padding-top: 49px;
        padding-bottom: 47px;
    }
    .cms-icon-box {
        margin-bottom: 0;
        .icon-title {
            margin-bottom: 0;
        }
    }
    .icon-link-block {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        a {
            color: #FFF;
            &:hover,
            &:focus {
                color: $color_primary;
            }
        }
    }
    .cms-icon-box-item:hover {
        &:before {
            visibility: visible;
            opacity: 1;
            top: -15px;
            bottom: -15px;
        }
        .cms-icon-box-item-inner {
            padding-top: 21px;// (50-27)
            padding-bottom: 75px;//47 +27
        }
        .cms-icon-box {
            .icon-link-block {
                visibility: visible;
                opacity: 1;
                bottom: -50px;
            }
            .icon-title,
            .cms-icon {
                color: #FFF;
            }
        }
    }
}
@media ( max-width: 767px ) {
    .cms-icon-box-item.cms-inline-block-xs-2:nth-child(6n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-xs-3:nth-child(4n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-xs-4:nth-child(3n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-xs-6:nth-child(2n+1) .cms-icon-box {
        &:before {
            display: none;
        }
    }
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
    .cms-icon-box-item.cms-inline-block-sm-1:nth-child(12n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-sm-2:nth-child(6n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-sm-3:nth-child(4n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-sm-4:nth-child(3n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-sm-6:nth-child(2n+1) .cms-icon-box {
        &:before {
            display: none;
        }
    }
}

@media ( min-width: 992px ) and ( max-width: 1199px ) {
    .cms-icon-box-item.cms-inline-block-md-1:nth-child(12n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-md-2:nth-child(6n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-md-3:nth-child(4n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-md-4:nth-child(3n+1) .cms-icon-box,
    .cms-icon-box-item.cms-inline-block-md-6:nth-child(2n+1) .cms-icon-box {
        &:before {
            display: none;
        }
    }
}

@media ( min-width: 1200px ) {
    .cms-icon-box-item.col-lg-1:nth-child(12n+1) .cms-icon-box,
    .cms-icon-box-item.col-lg-2:nth-child(6n+1) .cms-icon-box,
    .cms-icon-box-item.col-lg-3:nth-child(4n+1) .cms-icon-box,
    .cms-icon-box-item.col-lg-4:nth-child(3n+1) .cms-icon-box,
    .cms-icon-box-item.col-lg-6:nth-child(2n+1) .cms-icon-box {
        &:before {
            display: none;
        }
    }
}

//-- VC CMS Icon
//--------------------------------------------------
.cms-counter {
    margin-bottom: 35px;
    .counter-icon {
        font-size: 32px;
        line-height: 1;
        color: #282828;
        margin-bottom: 19px;
    }
    .counter-text {
        color: $color_primary;
        font-size: 30px;
        line-height: 1.25;
        font-weight: bold;
        margin-bottom: 14px;
    }
    .counter-title {
        line-height: $line_height_heading_general;
        font-weight: 500;
        margin-bottom: 0;
        letter-spacing: 0;
        font-size: $font_size_large;
    }
}
@media ( min-width: 768px ) {
    .cms-counter {
        padding-left: 19px;
    }
}

.cms-counters-with-sep {
    overflow: hidden;
    .cms-counter {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 2px;
            height: 96.5%;
            position: absolute;
            top: 1%;
            right: -17px;
            background-color: #222;
            opacity: 0.07;
        }
    }
}

//-- VC CMS Work process
//--------------------------------------------------
.cms-work-process-wrapper {
    margin-bottom: 35px;
}
.cms-work-process {
    text-align: center;
    .wpb_single_image.vc_align_left,
    .wpb_single_image.vc_align_right {
        text-align: inherit;
    }
    .work-process-icon {
        margin-bottom: 15px;
        * {
            line-height: 1;
            margin-bottom: 0;
        }
    }
    .work-process-icon-inner {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            position: relative;
            margin-left: -2px;
        }
        > * {
            display: inline-block;
            max-width: 98%;
            vertical-align: middle;
        }
    }
    .work-process-content {
        font-style: italic;
    }
}
.cms-work-process-border {
    .work-process-icon {
        margin-bottom: 25px;
    }
    .work-process-step {
        display: inline-block;
        width: 41px;
        height: 41px;
        border-radius: 41px;
        font-size: 22px;
        font-weight: bold;
        color: $color_primary;
        line-height: 41px;
        text-align: center;
        position: absolute;
        top: -23px;
        left: -7px;
        background-color: #000;
    }
    .work-process-icon-inner {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 2px solid #EEE;
    }
    &.cms-work-process-with-step {
        padding-top: 23px;
    }
    &.cms-work-process-number {
        .work-process-step {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            position: static;
            display: inline-block;
            font-size: 49px;
            line-height: 100px;
        }
    }
}
.cms-works-process {
    .works-process-item {
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .work-process-xs-2 {
        width: 16.6666666667%
    }
    .work-process-xs-3 {
        width: 25%;
    }
    .work-process-xs-4 {
        width: 33.3333333333%;
    }
    .work-process-xs-6 {
        width: 50%;
    }
    .work-process-xs-12 {
        width: 100%;
    }
}

@media(min-width: 768px) {
    .cms-work-process {
        padding-left: 40px;
        padding-right: 40px;
    }
    .cms-works-process {
        overflow: hidden;
        .cms-works-process-inner {
            margin-left: -15px;
            margin-right: -15px;
        }
        .works-process-item {
            .work-process-icon {
                position: relative;
            }
            + .works-process-item {
                .work-process-icon:before {
                    content: '.....';
                    font-family: "Courier 10 Pitch", Courier, monospace;
                    font-size: 20px;
                    letter-spacing: -6px;
                    color: #222;
                    position: absolute;
                    top: 50%;
                    left: -74px;
                    margin-top: -3px;
                    @include translateY(-50%);
                }
            }
        }
        .work-process-sm-2 {
            width: 16.6666666667%
        }
        .work-process-sm-3 {
            width: 25%;
        }
        .work-process-sm-4 {
            width: 33.3333333333%;
        }
        .work-process-sm-6 {
            width: 50%;
        }
        .work-process-sm-12 {
            width: 100%;
        }
        .works-process-item + .works-process-item .cms-work-process-border .work-process-icon:before {
            margin-top: -8px;
        }
    }
}
@media(min-width: 992px) {
    .cms-works-process {
        .work-process-md-2 {
            width: 16.6666666667%
        }
        .work-process-md-3 {
            width: 25%;
        }
        .work-process-md-4 {
            width: 33.3333333333%;
        }
        .work-process-md-6 {
            width: 50%;
        }
        .work-process-md-12 {
            width: 100%;
        }
    }
}
@media(min-width: 1200px) {
    .cms-works-process {
        .work-process-lg-2 {
            width: 16.6666666667%
        }
        .work-process-lg-3 {
            width: 25%;
        }
        .work-process-lg-4 {
            width: 33.3333333333%;
        }
        .work-process-lg-6 {
            width: 50%;
        }
        .work-process-lg-12 {
            width: 100%;
        }
    }
}

//-- VC CMS Progress Bar
//--------------------------------------------------
.cms-progress-bar-wrapper {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
}
.cms-progress-bar {
    .progress {
        height: 4px;
        background-color: #f2f2f2;
        border-radius: 0;
        box-shadow: none;
        position: relative;
        overflow: visible;
    }
    .progress-bar {
        background-color: $color_primary;
        box-shadow: none;
        color: #000;
        @include transition(width 1.5s ease-in-out);
    }
    .progressbar-front-text {
        display: block;
        color: inherit;
        text-align: right;
        position: absolute;
        font-size: 11px;
        padding-right: 18px;
        line-height: 1;
        bottom: -1px;
    }
    .progressbar-back-text {
        display: none;
    }
    .progress-bar-main {
        display: table;
        width: 100%;
    }
    .progress-title,
    .progress-content {
        display: table-cell;
        vertical-align: bottom;
    }
    .progress-content {
        width: 100%;
        padding-left: 10px;
        padding-bottom: 3.25px;
        .progress {
            margin: 0;
        }
    }
    .progress-title-text {
        min-width: 90px;
        font-size: 13px;
        line-height: $line_height_heading_general;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }
}

//-- VC CMS Fancy Box
//--------------------------------------------------

.cms-fancybox-wrapper {
    margin-bottom: 35px;
}

.cms-fancybox {
    .fancybox-header {
        > *:last-child {
            margin-bottom: 0;
        }
    }
    .fancybox-title,
    .fancybox-subtitle {
        margin-bottom: 7px;
    }
    .fancybox-body {
        margin-bottom: 6px
    }
    .fancybox-title,
    .fancybox-subtitle,
    .fancybox-link {
        line-height: $line_height_heading_general;
    }
    .fancybox-icon,
    .fancybox-title {
        color: #282828;
    }
    .fancybox-subtitle {
        font-weight: 500;
    }
    .fancybox-body {
        position: relative;
    }
    .fancybox-content {
        font-style: italic;
    }
    .fancybox-link {
        font-size: $font_size_small;
        font-weight: 700;
        color: #333333;
        > i {
            font-size: 11px;
            margin-left: 7px;
        }

        &:hover,
        &:focus {
            color: $color_primary;
        }
    }
    > *:last-child {
        margin-bottom: 0;
    }
    &.cms-fancybox-color-light {
        .fancybox-icon,
        .fancybox-title,
        .fancybox-subtitle,
        .fancybox-link {
            color: #FFF;
        }
        .fancybox-link:hover,
        .fancybox-link:focus {
            color: $color_primary;
        }
    }
}

//-- VC CMS Fancy Box left icon and center
//--------------------------------------------------
.cms-fancybox-left-icon {
    .fancybox-icon {
        font-size: 32px;
        line-height: 1;
        color: #222;
        display: block;
        margin-bottom: 10px;
        top: 6px;
        height: auto;

        .wpb_single_image {
            margin-bottom: 0;
        }

        > i {
            line-height: inherit;
        }
    }
    .fancybox-header {
        margin-bottom: 12px;
    }
        
    .fancybox-title {
        font-size: 20px;
        font-weight: 600;
    }
    .fancybox-action {

    }
}
.cms-fancybox-icon-center {
    text-align: center;
    .fancybox-icon {
        font-size: 32px;
        color: #282828;
    }
    .fancybox-title {
        font-size: 16px;
        font-weight: 600;
    }
}
.cms-fancybox-icon-center-hover {
    position: relative;
    .fancybox-action {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        height: 0;
        @include transition( opacity 300ms, height 300ms );
    }
    .fancybox-body {
        margin-bottom: 0;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        bottom: -15px;
        right: -15px;
        background-color: #282828;
        opacity: 0;
        visibility: hidden;
        @include transition( opacity 300ms );
    }
}
.cms-fancybox-icon-center-hover:hover {
    .fancybox-body,
    .fancybox-action {
        position: relative;
        z-index: 1;
    }
    .fancybox-action {
        height: 30px;
        overflow: visible;
        visibility: visible;
        opacity: 1;
    }
    .fancybox-icon,
    .fancybox-title,
    .fancybox-subtitle,
    .fancybox-content {
        color: #FFF;
    }
    .fancybox-link {
        color: $color_primary;
    }
    .fancybox-subtitle,
    .fancybox-content {
        opacity: 0.8;
    }
    &:after {
        visibility: visible;
        opacity: 1;
    }
}
@media ( min-width: 768px ) {
    .cms-fancybox-icon-center {
        .fancybox-title {
            font-size: 20px;
        }
    }
}
@media ( min-width: 768px ) {
    .cms-fancybox-left-icon {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    .fancybox-group .wpb_column + .wpb_column {
        .cms-fancybox-left-icon {
            .fancybox-body {
                &:before {
                    content: '';
                    display: block;
                    border-left: 2px solid rgba( 34, 34, 34, 0.07 );
                    position: absolute;
                    left: -30px;
                    top: 6px;
                    bottom: 6.18px;
                }
            }
        }
        .cms-fancybox-icon-center {
            position: relative;
            &:before {
                content: '';
                display: block;
                border-left: 2px solid rgba( 34, 34, 34, 0.07 );
                position: absolute;
                left: -15px;
                top: 18px;
                bottom: 18px;
            }
        }
    }
}

@media ( min-width: 992px ) {
    .cms-fancybox-left-icon {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        .fancybox-body,
        .fancybox-action {
            padding-left: 80px;
        }
        .fancybox-icon {
            position: absolute;
            width: 40px;
            left: 20px;
            top: 6px;
            text-align: right;
        }
    }
    .fancybox-group .wpb_column + .wpb_column {
        .cms-fancybox-left-icon {
            .fancybox-body {
                &:before {
                    left: 0;
                }
            }
        }
    }
}

@media ( min-width: 1200px ) {
    .cms-fancybox-left-icon {
        .fancybox-body,
        .fancybox-action {
            padding-left: 100px;
        }
        .fancybox-icon {
            left: 30px;
        }
        .fancybox-header {
            margin-bottom: 18px;
        }
        .fancybox-title {
            font-size: 23px;
        }
    }
}

//-- VC CMS Fancy Left icon box
//--------------------------------------------------
.cms-fancybox-left-icon-box {
    .fancybox-body,
    .fancybox-action {
        padding-left: 100px;
        position: relative;
    }
    .fancybox-header {
        margin-bottom: 18px;
    }
    .fancybox-title {
        font-size: 23px;
        font-weight: 600;
    }
    .fancybox-icon {
        width: 70px;
        height: 103px;
        position: absolute;
        left: 0;
        top: 7px;
        font-size: 32px;
        line-height: 103px;
        text-align: center;
        border-left: 2px solid transparent;
        background-color: #282828;
        color: #FFF;
        @include transition( all 300ms );
        > * {
            line-height: inherit;
        }
    }
    &:hover {
        .fancybox-icon {
            background-color: $color_primary;
        }
    }
    &.cms-fancybox-color-light {
        .fancybox-icon {
            background-color: rgba( 255, 255, 255, 0.1 );
        }
        &:hover {
            .fancybox-icon {
                background-color: $color_primary;
            }
        }
    }
}

//-- VC CMS Fancy Left icon box alternate
//--------------------------------------------------
.cms-fancybox-left-icon-box-alt {
    padding-left: 20px;
    padding-right: 20px;
    .fancybox-body,
    .fancybox-action {
        padding-left: 90px;
        position: relative;
    }
    .fancybox-header {
        margin-bottom: 17px;
    }
    .fancybox-title {
        font-size: 22px;
        font-weight: 600;
    }
    .fancybox-icon {
        width: 70px;
        height: 103px;
        position: absolute;
        left: 0;
        top: 5px;
        font-size: 32px;
        line-height: 103px;
        text-align: center;
        border-left: 2px solid transparent;
        background-color: #282828;
        color: #FFF;
        border-left-color: rgba( 255, 255, 255, 0.15 );

        @include transition( all 300ms );
        > * {
            line-height: inherit;
        }
    }
    .fancybox-content {
        font-style: normal;
    }

    &.cms-fancybox-color-light {
        .fancybox-icon {
            background-color: rgba( 255, 255, 255, 0.1 );
        }
    }
}
@media ( min-width: 992px ) {
    .cms-fancybox-left-icon-box-alt {
        padding-left: 30px;
        padding-right: 30px;
        .fancybox-body,
        .fancybox-action {
            padding-left: 100px;
        }
    }
}

@media ( min-width: 1200px ) {
    .cms-fancybox-left-icon-box-alt {
        padding-left: 12.1875%;
        padding-right: 12.1875%;
    }
    .vc_row-fluid.vc_row-no-padding {
        .cms-fancybox-left-icon-box-alt {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
}


//-- VC CMS Fancy Box Default
//--------------------------------------------------
.cms-fancybox-default {
    .fancybox-title {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
    }
    .fancybox-icon {
        font-size: 32px;
        line-height: 1;
        width: 36px;
        margin-right: 11px;
        margin-bottom: 3px;
        display: inline-block;
        vertical-align: bottom;
    }
    .fancybox-content {
        font-size: $font_size_large;
        line-height: $line_height_15;
    }
    .fancybox-header {
        margin-bottom: 17px;
    }
}

//-- VC CMS Fancy Box Text Icon
//--------------------------------------------------
.cms-fancybox-texticon {
    .fancybox-header {
        margin-bottom: 16px;
    }
    .fancybox-title {
        font-size: 30px;
        letter-spacing: 0.018em;
    }
    .fancybox-subtitle {
        font-size: 13px;
        color: #7F7F7F;
        margin-bottom: 5px;
    }
    .fancybox-icon {
        margin-right: 8px;
    }
}

@media ( min-width: 1200px ) {
    .cms-fancybox-texticon {
        padding-right: 10px;
    }
}


//-- VC CMS Fancy Box Image
//--------------------------------------------------
.cms-fancybox-imgicon {
    .fancybox-header {
        margin-bottom: 8px;
    }
    .fancybox-body {
        margin-bottom: 9px;
    }
    .fancybox-icon {
        position: relative;
        margin-bottom: 24px;
        .wpb_single_image {
            margin-bottom: 0;
        }
    }
    .fancybox-title {
        font-size: 23px;
        font-weight: 600;
    }
    .fancybox-subtitle {
        font-size: 50px;

        line-height: 1.25;
        font-weight: 700;
        color: #282828;
        position: absolute;
        left: -2px;
        bottom: -41px;
    }
    .fancybox-header,
    .fancybox-content,
    .fancybox-action {
        padding-left: 64px;
    }
}
@media ( min-width: 992px ) {
    .cms-fancybox-imgicon {
        .fancybox-header,
        .fancybox-content,
        .fancybox-action {
            padding-left: 100px;
        }
    }
}

//-- VC CMS Testimonial
//--------------------------------------------------
.cms-testimonial {
    .testimonial-author,
    .testimonial-roles {
        line-height: $line_height_heading_general;
    }
    .testimonial-roles {
        font-weight: bold;
        font-size: $font_size_small;
    }
    .testimonial-author {
        letter-spacing: 0.048em;
        color: #282828;
        margin-bottom: 7px;
        font-size: 16px;
    }
    .testimonial-content {
        font-style: italic;
        position: relative;
        font-size: $font_size_large;
        line-height: $line_height_15;
    }
    .testimonial-icon {
        font-size: 28px;
        line-height: 1;
        color: #222;
        font-style: normal;
        display: block;
    }
}
@media ( min-width: 992px ) {
    .cms-testimonial {
        .testimonial-content {
            font-size: $font_size_xlarge;
            line-height: $line_height_17;
        }
    }
}

// Big Image in the left
.cms-testimonial-img-left-big {
    .testimonial-main {
        position: relative;
        padding: 20px 25px;
        background-color: #f4f4f4;
    }
    .testimonial-author-img {
        width: 70px;
        margin: -24px 0 -30px;

        .wpb_single_image,
        .wpb_wrapper,
        .vc_single_image-wrapper,
        .wpb_single_image img {
            display: block;
            margin-bottom: 0;
        }
    }
    .testimonial-icon-before {
        margin-bottom: 10px;
    }
    .testimonial-icon-after {
        margin-bottom: 10px;
        text-align: right;
        margin-top: 10px;
    }
    .testimonial-info {
        padding-top: 19px;
        padding-left: 25px;
    }
}

@media ( min-width: 992px ) {
    .cms-testimonial-img-left-big {
        .testimonial-main {
            padding: 28px 30px 26px 230px;
            margin-bottom: 30px;
        }
        
        .testimonial-author-img {
            width: 170px;
            height: 100%;
            position: absolute;
            left: 30px;
            top: 30px;
            bottom: -30px;
            overflow: hidden;
            margin: 0;

            .wpb_single_image,
            .wpb_wrapper,
            .vc_single_image-wrapper {
                height: inherit;
            }

            img {
                height: 100%;
                width: auto;
                max-width: none;
                position: relative;
                left: 50%;
                @include translateX(-50%);
            }
        }
        .testimonial-icon-before {
            margin-bottom: 19px;
        }
        .testimonial-icon-after {
            margin-top: 28px;
         }
        .testimonial-info {
            padding-top: 16px;
            padding-left: 30px;
        }
    }
}


// Small Image in the left
.cms-testimonial-img-left-small {
    .testimonial-main {
        position: relative;
        background-color: #f4f4f4;
        padding: 28px 30px 53px;
        margin-bottom: 26px;
    }
    .testimonial-icon-before {
        font-size: 28px;
        color: #222;
        font-style: normal;
        display: block;
        margin-bottom: 19px;
    }
    .testimonial-author-img {
        width: 72px;
        height: 72px;
        position: absolute;
        left: 30px;
        bottom: -42px;
    }
    .testimonial-info {
        padding-left: 130px;
    }
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 48%;
        > .owl-prev {
            margin-left: -30px;
        }
        > .owl-next {
            margin-right: -30px;
        }
    }
    .owl-dots {
        margin-top: 44px;
        text-align: center;
    }
}


// Testimonial center image layout
.cms-testimonial-img-center {
    text-align: center;
    .testimonial-author-img {
        .wpb_single_image {
            margin-bottom: 23px;
        }

        img {
            width: 72px;
            height: 72px;
            display: inline-block;
        }
        .wpb_single_image {
            text-align: inherit;
        }
    }
    .testimonial-main {
        margin-bottom: 16px;
    }
    .testimonial-content {
        position: relative;
    }
    .testimonial-text {
        *:last-child {
            margin-bottom: 0;
        }
    }
    .testimonial-icon-after {
        margin-top: 20px;
    }
}
@media ( min-width: 992px ) {
    .cms-testimonial-img-center {
        .testimonial-main {
            padding-left: 82px;
            padding-right: 82px;
            margin-bottom: 32px;
        }
        .testimonial-content {
            font-size: 19px;
            line-height: 29px;
        }
    }
}


//-- Carousels
//--------------------------------------------------
.cms-carousel {
    position: relative;
    overflow: hidden;
    .carousel-inner {
        width: auto;
    }
    .carousel-navigation {
        text-align: center;
        margin: 16px 0 0;
        .nav-link {
            display: inline-block;
            width: 72px;
            height: 36px;
            border: 2px solid transparent;
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            color: #999;
            border-color: #999;
            position: relative;
            @include transition( all 300ms );
            &.disabled {
                opacity: 0.25;
            }

            &:hover {
                border-color: #222;
                color: #222;
            }
            &:hover {
                z-index: 1;
            }
        }
        .nav-next {
            margin-left: -2px;
        }
    }
    &.nav-light-dark-active,
    &.nav-light-colored-active {
        .owl-page {
            > span {
                background-color: #FFF;
            }
        }
        .nav-link {
            color: #FFF;
        }
    }
    &.nav-light-colored-active {
        .owl-page {
            &:hover,
            &.active {
                > span {
                    opacity: 1;
                    background-color: $color_primary;
                }
            }
        }
        .nav-link {
            &:hover,
            &:focus {
                color: $color_primary;
            }
        }
    }
    &.nav-light-dark-active {
        .owl-page {
            &:hover,
            &.active {
                > span {
                    opacity: 1;
                    background-color: #222;
                }
            }
        }
        .nav-link {
            &:hover,
            &:focus {
                color: #222;
            }
        }
    }
}

.cms-testimonials-carousel {
    .owl-pagination {
        margin-top: 36px;
    }
    &.testimonial-carousel-img-small-left {
        .owl-pagination {
            margin-top: 43px;
        }
    }
}

//-- Testimonial carousel
//--------------------------------------------------
@media( min-width: 992px ) {
    .cms-testimonials-carousel {
        &.testimonial-carousel-img-big-left {
            .owl-controls {
                position: absolute;
                bottom: 55px;
                right: -2.5px;
            }
        }
        &.testimonial-carousel-img-center {
            .carousel-navigation {
                margin-top: 0;
                .nav-link {
                    margin: 0;
                    width: 36px;
                    position: absolute;
                    top: 34%;
                    border-color: transparent;
                }
                .nav-prev {
                    left: 26px;
                }
                .nav-next {
                    right: 26px;
                }
            }
            .owl-pagination {
                margin-top: 43px;
            }
        }
    }
}

//-- Image carousel
//--------------------------------------------------
.cms-images-carousel {
    .owl-pagination {
        margin-top: 47px;
    }
    &.carousel-seperator {
        .owl-controls,
        .carousel-item {
            text-align: center;
        }
        .carousel-item {
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 2px;
                height: 48px;
                position: absolute;
                top: 50%;
                right: -2px;
                @include translateY(-50%);
                background-color: #222;
                opacity: 0.07;
            }
        }
    }
    &.carousel-color-scheme-light {
        &.carousel-seperator {
            .owl-item {            
                &:after {
                    background-color: #FFF;
                }
            }
        }
        .owl-page {
            > span {
                background-color: #FFF;
            }
        }
        .carousel-navigation {
            > .nav-prev,
            > .nav-next {
                &:hover {
                    border-color: #FFF;
                    color: #FFF;
                }
            }
        }
    }
}

//-- Fancybox carousel
//--------------------------------------------------
.cms-fancybox-carousel {
    &.carousel-fancybox-imgicon {
        .owl-pagination {
            margin-top: 11px;
        }
    }
}

//-- VC CMS XGrid
//--------------------------------------------------
.cms-grid-wrapper {
    position: relative;
    .grid-items {
        @include clearfix();
    }
    .grid-item {
        box-sizing: border-box;
    }
    .grid-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
        background-color: rgba( 255, 255, 255, 0.8 );
    }

    .cms-case-study-item {
        padding-bottom: 22px;
    }
}

.cms-grid {
    .content-posts-grid-minimal {
        .entry-posts {
            padding-bottom: 15px;
        }
    }

    * + .cms-posts-navigation {
        margin-top: 9px;
    }
    .grid-filter {
        list-style: none;
        padding: 0;
        margin-left: -14px;
        margin-right: -14px;
        text-align: center;
        margin-bottom: 23px;
        > li {
            display: inline-block;
            font-size: $font_size_small;
            line-height: 1.6;
            font-weight: bold;
            padding-left: 14px;
            padding-right: 14px;
            > a {
                display: block;
                border-bottom: 2px solid transparent;
                color: #333;
                text-transform: uppercase;
                text-decoration: none;
            }
            &.active > a,
            > a:hover,
            > a:focus {
                border-bottom-color: $color_primary;
                color: $color_primary;
            }
        }
    }
    &.list-posts-standard {
        .grid-item + .grid-item {
            margin-top: 48px;
        }
        .entry-posts-standard .entry-featured > * {
            width: 100%;
        }
        .cms-posts-navigation {
            margin-top: 69px;
        }
    }
    &.cms-grid-gallery {
        .cms-posts-navigation {
            margin-top: 19px;
        }
    }
}


//-- VC TTA
//--------------------------------------------------
.vc_tta.vc_general.cms-vc-tta {
    .vc_tta-panels {
        padding: 2px;
    }
    .vc_tta-panel {
        margin-left: -2px;
        margin-right: -2px;
        &:first-child {
            margin-top: -2px;
        }
        &:last-child {
            margin-bottom: -2px;
        }
    }
    .vc_tta-panel-heading {
        border-width: 0;
        overflow: hidden;
    }
    .vc_tta-panel-title {
        > a {
            line-height: 1.25;
            @include transition( background-color 300ms, color 300ms );
        }
    }
    .vc_tta-controls-icon {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 1px;
        background-color: $color_primary;
        color: #FFF;

        &:before {
            left: 5px;
            right: 5px;
        }
        &:after {
            top: 5px;
            bottom: 5px;
        }
    }
    .vc_tta-tabs-list {

        padding: 1px;
    }
    .vc_tta-tab {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        margin: -1px;
        > a {
            color: #222;
            line-height: 17px;
            padding: 15px 32px;
            border: 2px solid #222;
        }

        &.vc_active > a,
        > a:hover {
            background-color: #222;
            color: #FFF;
        }
    }
    .vc_tta-panel-body {
        border: none;
    }
}

//-- vc_tta Accordions
.vc_tta.vc_general.cms-vc-tta-accordion {
    .vc_tta-panel-title {
        font-size: 16px;
        line-height: $line_height_heading_general;
        letter-spacing: 0;
        color: #282828;
        > a {
            padding: 26px 30px 26px 28px;
            background-color: #F4F4F4;
            border: 2px solid #F4F4F4;
        }
    }
    .vc_tta-controls-icon-position-right {
        .vc_tta-controls-icon {
            right: 26px;
        }
        &.vc_tta-panel-title {
            > a {
                padding-right: 60px;
            }
        }
    }
    .vc_tta-controls-icon-position-left {
        &.vc_tta-panel-title {
            > a {
                padding-left: 60px;
            }
        }
    }
    .vc_tta-panel.vc_active .vc_tta-panel-title > a {
        border-bottom-width: 0;
    }
    .vc_tta-panel .vc_tta-panel-title > a:hover,
    .vc_tta-panel.vc_active .vc_tta-panel-title > a {
        background-color: transparent;
    }
    .vc_tta-panel .vc_tta-panel-title > a:hover {
        color: $color_primary;
    }
    .vc_tta-panel:not(.vc_active) .vc_tta-panel-title > a:focus {
        outline: 1px dashed $color_primary;
    }
    .vc_tta-panel-body {
        padding: 0 20px 21px 28px;
        border: 2px solid #F4F4F4;
        border-top: none;
        margin-top: -2px;
        font-size: $font_size_small;
        line-height: $line_height_13;
    }
    &.vc_tta-o-no-fill {
        .vc_tta-panel.vc_active .vc_tta-panel-title > a {
            border-bottom-width: 2px;
        }
        .vc_tta-panel-body {
            padding-top: 16px;
            border: none;
        }
    }
}
//-- vc_tta tabs / tour
.vc_tta.vc_general.cms-vc-tta-tabs,
.vc_tta.vc_general.cms-vc-tta-tour {
    padding: 24px 30px; //-- [1]
    border: 2px solid #F4F4F4;

    &.vc_tta-tabs-position-bottom {
        padding-top: 24px; //-- From [1]
    }
    &.vc_tta-has-pagination:not(.vc_tta-tabs-position-bottom) {
        padding-bottom: 24px; //-- From [1]
    }
    &.vc_tta-o-no-fill {
        border: none;
        padding: 0;
        
        .vc_tta-panel-body {
            padding-left: 30px;
            padding-right: 30px;
        }

        &.vc_tta-tabs-position-top,
        &.vc_tta-tabs-position-bottom, {
            .vc_tta-panel-body {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.vc_tta-tabs-position-bottom,
        &.vc_tta-has-pagination:not(.vc_tta-tabs-position-bottom) {
            padding-bottom: 0;
        }
    }
    .vc_tta-panel-title {
        font-size: 13px;
        font-weight: bold;

        text-transform: uppercase;

        > a {
            padding: 15px 30px;
            border: 2px solid #222;
        }
    }
    .vc_tta-panel.vc_active .vc_tta-panel-title > a,
    .vc_tta-panel-title > a:hover,
    .vc_tta-panel-title > a:focus {
        background-color: #222;
        color: #FFF;
    }
}
.vc_tta.vc_general.cms-vc-tta-tabs {
    .vc_tta-panel-body {
        padding-left: 0;
        padding-right: 0;
    }
}
.vc_tta.vc_general.cms-vc-tta-tour {
    &.vc_tta-o-no-fill .vc_tta-panel-body,
    .vc_tta-panel-body {        
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .vc_tta-panel:last-child .vc_tta-panel-body {
        padding-bottom: 0;
    }
    &.vc_tta-tabs-position-right {
        .vc_tta-tabs-list {
            padding-right: 2px;
        }
    }
    &.vc_tta-tabs-position-left {
        .vc_tta-tabs-list {
            padding-left: 2px;
        }
    }
}

@media (min-width: 768px) {
    .vc_tta.vc_general.cms-vc-tta-tabs,
    .vc_tta.vc_general.cms-vc-tta-tour {
        &.vc_tta-tabs-position-bottom {
            //padding-top: 60px;
        }
        &.vc_tta-has-pagination:not(.vc_tta-tabs-position-bottom) {
            //padding-bottom: 60px;
        }
    }

    .vc_tta.vc_general.cms-vc-tta-tour {
        &.vc_tta-o-no-fill .vc_tta-panel-body,
        .vc_tta-panel-body {
            padding-top: 0;
            padding-bottom: 0;
        }

        &.vc_tta-tabs-position-left .vc_tta-panel-body {
            padding-left: 20px;
            padding-right: 0;
        }

        &.vc_tta-tabs-position-right .vc_tta-panel-body {
            padding-left: 0;
            padding-right: 20px;
        }
    }
}


//-- CMS CTA
//--------------------------------------------------
.cms-cta-box-wrapper {
    margin-bottom: 35px;
    border: 1px solid rgba( 34, 34, 34, 0.1 );
    padding: 30px;
}
.cms-cta-box {
    .cta-box-header {
        margin-bottom: 12px;
        .cta-box-title,
        .cta-box-subtitle {
            line-height: $line_height_heading_general;
            margin-bottom: 0;
        }
        .cta-box-subtitle {
            font-weight: 500;
            font-size: $font_size_large;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
    .cta-box-content {
        color: #616161;
    }
    .cta-box-content > *:last-child {
        margin-bottom: 0;
    }
    .cta-box-icon {
        font-size: 64px;
        color: #FFF;
        line-height: 1;
    }
    .cta-box-actions {
        .btn {
            min-width: 170px;
        }
    }
}
.cms-cta-box-icon-top,
.cms-cta-box-icon-left {
    .cta-box-icon {
        margin-bottom: 20px;
    }
}
.cms-cta-box-actions-top,
.cms-cta-box-actions-left {
    .cta-box-actions {
        margin-bottom: 24px;
    }
}
.cms-cta-box-icon-bottom,
.cms-cta-box-icon-right {
    .cta-box-icon {
        margin-top: 20px;
    }
}
.cms-cta-box-actions-bottom,
.cms-cta-box-actions-right {
    .cta-box-actions {
        margin-top: 24px;
    }
}
@media ( max-width: 600px ) {
    .cms-cta-box {
        .cta-box-actions {
            .btn {
                width: 100%
            }
        }
    }
}
@media ( min-width: 768px ) {
    .cms-cta-box-wrapper {
        padding: 40px;
    }
}
@media ( max-width: 991px ) {
    .cms-cta-box {
        .cta-box-icon-wrapper,
        .cta-box-body {
            text-align: center;
        }
    }
}
@media ( min-width: 992px ) {
    .cms-cta-box-wrapper {
        padding: 49px;
    }
    .cms-cta-box {
        display: table;
        width: 100%;
        .cta-box-icon,
        .cta-box-actions {
            margin-top: 0;
            margin-bottom: 0;
        }

        .cta-box-content {
            font-size: $font_size_large;
            line-height: $line_height_x15;
        }
        .cta-box-actions {
            white-space: nowrap;
            min-width: 270px;
        }
    }
    .cms-cta-box-icon-left,
    .cms-cta-box-icon-right {
        .cta-box-icon-wrapper,
        .cta-box-body {
            display: table-cell;
            vertical-align: middle;
        }
        .cta-box-body {
            width: 100%;
        }
        .cta-box-icon {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            min-width: 72px;
        }
    }
    .cms-cta-box-icon-left {
        text-align: left;
        .cta-box-icon {
            padding-right: 28px;
        }
    }
    .cms-cta-box-icon-right {
        text-align: right;
        .cta-box-icon {
            padding-left: 28px;
        }
    }
    .cms-cta-box-actions-left,
    .cms-cta-box-actions-right {
        .cta-box-content-wrapper,
        .cta-box-actions-wrapper {
            display: table-cell;
            vertical-align: middle;
        }
        .cta-box-actions {
            white-space: nowrap;
            button,
            .btn {
                padding-left: 24px;
                padding-right: 24px;
            }
        }
        .cta-box-actions-1-button {
            button,
            .btn {
                min-width: 270px;
            }
        }
        .cta-box-actions-2-buttons {
            button,
            .btn {
                min-width: 170px;
            }
        }
    }
    .cms-cta-box-actions-left {
        .cta-box-content {
            padding-left: 52px;
        }
    }
    .cms-cta-box-actions-right {
        .cta-box-content {
            padding-right: 52px;
        }
    }
    .cms-cta-box-actions-bottom {
        .cta-box-actions {
            margin-top: 24px;
        }
    }
    .cms-cta-box-actions-top {
        .cta-box-actions {
            margin-bottom: 24px;
        }
    }
}

//-- VC CTA
//--------------------------------------------------
.cms-cta-container .vc_general.vc_cta3.vc_cta3-style-classic,
.cms-cta-container .vc_general.vc_cta3.vc_cta3-style-custom {
    background-color: transparent;
}
.vc_general.vc_cta3 {
    .vc_cta3-content {
        font-size: 14px;
    }

    &.vc_cta3-style-default {
        border-color: rgba( 0, 0, 0, 0.1 );

        .vc_cta3-content {
            color: #616161;
        }
    }
    .vc_cta3-actions {
        .button-group-1 .btn {
            width: 100%;
        }
    }
    .vc_cta3-icons {
        .vc_icon_element {
            font-size: 64px;
        }
        .cms-icon {
            margin-top: -8px;
        }
    }
    &.vc_cta3-icons-on-border {
        .vc_cta3-icons {
            .vc_icon_element {
                font-size: 32px;
                padding: 0;
            }
        }
    }
}
.vc_cta3-content-header {
    h2, h4 {
        margin-bottom: 12px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
        font-weight: 500;
    }
    h2 + h4 {
        margin-top: -12px;
    }
}
.vc_cta3-actions-right {
    .vc_cta3-actions {
        margin-top: 16px;
    }
}
.vc_cta3-actions-left {
    .vc_cta3-actions {
        margin-bottom: 16px;
    }
}

@media (max-width: 767px) {
    .vc_general.vc_cta3 {
        .vc_cta3-actions {
            white-space: normal !important;
            vertical-align: top !important;
            text-align: center;
        }
        &.vc_cta3-actions-left,
        &.vc_cta3-actions-right {
            .vc_btn3-container {
                width: 100%;
                margin: 0;
            }
            
        }
        &.vc_cta3-icons-left,
        &.vc_cta3-icons-right {
            .vc_cta3-icons {
                display: block !important;
                padding-bottom: 16px;
            }
        }
    }
}

@media ( max-width: 600px ) {
    .vc_cta3-action-buttons {
        > .btn {
            width: 100%;
        }
    }
}
@media ( max-width: 991px ) {
    .cms-cta-container .vc_general.vc_cta3 {
        .vc_cta3-content,
        .vc_cta3-icons {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .vc_general.vc_cta3 {

         &.vc_cta3-style-default,
         &.vc_cta3-style-custom {
            padding: 49px 50px;
        }
        .vc_cta3-content {

        }
    }


    .vc_cta3-actions-right {
        .vc_cta3-actions {
            margin-top: 0;
        }
    }

    .vc_cta3-actions-left {
        .vc_cta3-actions {
            margin-bottom: 0;
        }
    }

    .vc_general.vc_cta3.vc_cta3-icons-left,
    .vc_general.vc_cta3.vc_cta3-icons-right {
        .vc_cta3-icons,
        .vc_cta3-content {
            vertical-align: middle;
        }
    }

}

@media (min-width: 992px) {
    .vc_general.vc_cta3 {
        .vc_cta3-content {
            font-size: $font_size_large;
            line-height: $line_height_15;
        }
    }
    .vc_cta3.vc_cta3-actions-left,
    .vc_cta3.vc_cta3-actions-right {
        .vc_cta3-actions {
            min-width: 270px;
        }
    }
    .vc_general.vc_cta3.vc_cta3-icons-left {
        &:not(.vc_cta3-icons-on-border) .vc_cta3_content-container {
            padding-left: 35px;
        }
    }
    .vc_general.vc_cta3.vc_cta3-icons-right {
        &:not(.vc_cta3-icons-on-border) .vc_cta3_content-container {
            padding-right: 35px;
        }
    }
}


//
//-- Case study slider
//--------------------------------------------------
//
.vc_row.row-case-study-slider {
    overflow: visible !important;
    z-index: 1;
}
.cms-casestudy-slider {
    .slider-wrapper {
        position: relative;
    }
    .bx-wrapper {
        margin: 0 auto;
        .bx-viewport {
            background-color: transparent;
            border: none;
            box-shadow: none;
            left: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
    }
    .slider-item {
        max-width: 1200px;
        position: relative;
        padding-top: 127px;
        padding-bottom: 145px;

        &.slide-active {
            .slider-item-thumbnail-top {
                opacity: 0;
            }
        }

        &.slide-next {

        }

        &.slide-prev {
            .slider-item-thumbnail-bottom {
                bottom: -91px;
            }
        }
        .vc_column_container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .slider-item-thumbnail {
        width: 270px;
        height: 111px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -316px;
        display: none;
        @include transition( all 300ms );
        img {
            display: block;
            width: 100%;
            height: auto;
            //@include translateY(-25%);
        }

        &.slider-item-thumbnail-top {
            top: -91px;
        }
        &.slider-item-thumbnail-bottom {
            bottom: -20px;
        }
    }
    .slider-controls {
        .slider-control {
            position: absolute;
            left: 50%;
            z-index: 1;
            margin-left: -35px;
            &.control-prev {
                top: 20px;
            }
            &.control-next {
                bottom: 20px;
            }
        }
        a {
            display: block;
            width: 70px;
            height: 90px;
            background-color: rgba(255,255,255,0.05);
            color: transparent;
            position: relative;
            text-indent: -9999px;
            overflow: hidden;
            text-align: center;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 32px;
                height: 2px;
                background-color: #FFF;
                position: absolute;
                top: 50%;
            }

            &.bx-prev {
                &:before {
                    @include rotate(-45deg);
                    left: 8px;
                }
                &:after {
                    @include rotate(45deg);
                    right: 8px;
                }
            }
            &.bx-next {
                &:before {
                    @include rotate(45deg);
                    left: 8px;
                }
                &:after {
                    @include rotate(-45deg);
                    right: 8px;
                }
            }

            &:hover {
                background-color: rgba(0,0,0,0.5);
                &:before,
                &:after {
                    background-color: #FFF;
                }
            }
        }
    }
    .bx-wrapper {
        .bx-pager {
            width: 10px;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 4px;
            bottom: auto;
            @include translateY(-50%);
            .bx-pager-item {
                font-size: 0;
                line-height: 0;
                display: block;
                a {
                    display: block;
                    background-color: transparent;
                    margin: 0;
                    height: auto;
                    padding: 3px 4px;
                    width: 100%;
                    position: relative;
                    border: none;
                    border-radius: 0;

                    &:before {
                        content: '';
                        display: block;
                        width: 2px;
                        height: 16px;
                        background-color: #FFF;
                        opacity: 0.25;
                        @include transition( background-color 300ms opacity 300ms );
                    }
                    &:hover,
                    &:focus,
                    &.active {
                        background-color: inherit;
                        &:before {
                            background-color: $color_primary;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
.cms-slider-item-case-study {
    @include clearfix();

    .column-fill-place {
        overflow: visible !important;
        .wpb_single_image {
            overflow: hidden;
            .vc_figure,
            .vc_single_image-wrapper {
                width: 100%;
            }

        }
    }
    .item-header {
        margin-bottom: 25px;
        > *:last-child {
            margin-bottom: 0;
        }
    }
    .item-header .title,
    .item-header .subtitle,
    .item-action {
        line-height: $line_height_heading_general;
    }
    .item-header {
        .title,
        .subtitle {
            color: #FFF;
            margin-bottom: 9px
        }
        .title {
            font-size: 30px;
            letter-spacing: 0.06em;
        }
        .subtitle {
            font-size: 15px;
        }
    }
    .case-study-slider-item-content {
        padding-top: 21px;
    }
    * + .item-images {
        margin-top: 53px;
    }
    .item-description {
        font-size: $font_size_xlarge;
        line-height: $line_height_x17;
        margin-bottom: 19px;
        > * {
            margin-bottom: $margin_x17;
        }
        *:last-child {
            margin-bottom: 0;
        }
    }
    .item-images {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 0;
        > * {
            font-size: $font_size_small;
        }
        .item-image {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 33.3333333333%
        }
    }
    .item-action {
        a:not(.btn) {
            font-size: 13px;
            font-weight: bold;
            color: $color_primary;
            i[class*="fa fa-"] {
                font-size: 11px;
            }
        }
    }
    .case-study-slider-item-featured {
        padding: 24px 0 0;
        .wpb_single_image {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    [class*="vc_col-sm-"].column-fill-place {
        > .vc_column-inner {
            > .wpb_wrapper > .wpb_single_image:first-child,
            > .wpb_single_image:first-child,
            .case-study-slider-item-featured > .wpb_single_image {
                > .wpb_wrapper,
                .vc_single_image-wrapper {
                    display: block;
                    height: 100%;
                }
            }
        }
        &.column-fill-place-computed {
            > .vc_column-inner {
                > .wpb_wrapper > .wpb_single_image:first-child,
                > .wpb_single_image:first-child,
                .case-study-slider-item-featured > .wpb_single_image {
                    height: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .cms-casestudy-slider {
        .slider-item-thumbnail {
            display: block;
        }
        .slider-controls {
            .slider-control {
                margin-left: 15px;
            }
        }
    }
    [class*="vc_col-md-"].column-fill-place {
        > .vc_column-inner {
            > .wpb_wrapper > .wpb_single_image:first-child,
            > .wpb_single_image:first-child,
            .case-study-slider-item-featured > .wpb_single_image {
                > .wpb_wrapper,
                .vc_single_image-wrapper {
                    display: block;
                    height: 100%;
                }
            }
        }
        &.column-fill-place-computed {
            > .vc_column-inner {
                > .wpb_wrapper > .wpb_single_image:first-child,
                > .wpb_single_image:first-child,
                .case-study-slider-item-featured > .wpb_single_image {
                    height: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media ( min-width: 1200px ) {
    .cms-slider-item-case-study {
        .case-study-slider-item-featured {
            padding-right: 30px;
            margin-left: -15px;
        }
        .column-fill-place {
            .wpb_single_image {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                @include transition( all 300ms )
            }

            &.column-fill-place-computed {
                .wpb_single_image {
                    position: static;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .case-study-featured-right {
        padding-left: 25px;
    }
    [class*="vc_col-lg-"].column-fill-place {
        > .vc_column-inner {
            > .wpb_wrapper > .wpb_single_image:first-child,
            > .wpb_single_image:first-child,
            .case-study-slider-item-featured > .wpb_single_image {
                > .wpb_wrapper,
                .vc_single_image-wrapper {
                    display: block;
                    height: 100%;
                }
            }
        }
        &.column-fill-place-computed {
            > .vc_column-inner {
                > .wpb_wrapper > .wpb_single_image:first-child,
                > .wpb_single_image:first-child,
                .case-study-slider-item-featured > .wpb_single_image {
                    height: 100%;
                    img {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}





.rev_slider_wrapper {
    .btn {
        @include transition( border-color 300ms, background-color 300ms, color 300ms !important );
    }
}
